/*
 * Bootstrap Material Design
 */
/*************************
* Bottom Fab
*/
@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";
@import url("https://fonts.googleapis.com/css?family=Roboto");
.btn.btn-fab.btn-fab-sm {
  width: 30px;
  min-width: 30px;
  height: 30px;
  line-height: 30px;
}

.btn.btn-fab.btn-fab-sm i, .btn.btn-fab.btn-fab-sm span {
  font-size: 20px;
}

/*************************
* Bottom => add border
*/
.btn.btn-bordered:not(.btn-raised):not(.btn-link):not(.btn-app) {
  border: 1px solid;
}

/*************************
* Panel
*/
.panel {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel .panel-heading,
.panel .panel-footer {
  background-color: #fff;
}

.page-header h1 {
  color: #757575;
}

/*************************
* Breadcrumb
*/
.breadcrumb {
  background-color: transparent;
}

.breadcrumb li:last-child {
  font-size: 25px;
}

/*************************
* Col all => padding 10 px
*/
.input-group-btn .btn-fab {
  border-radius: 0 !important;
}

.input-group-btn .btn-fab:first-child {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}

.input-group-btn .btn-fab:last-child {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}

/*************************
* Validation
*/
.form-group .text-danger {
  display: none;
}

.form-group.has-error .text-danger {
  display: block;
}

.form-group.has-error .help-block {
  visibility: hidden;
}

.alert-default {
  color: #777777 !important;
}

body.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.sweet-overlay {
  background-color: black;
  /* IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  /* IE8 */
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 10000;
}

.sweet-alert {
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 478px;
  padding: 17px;
  border-radius: 0px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -200px;
  overflow: hidden;
  display: none;
  z-index: 99999;
}

@media all and (max-width: 540px) {
  .sweet-alert {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    left: 15px;
    right: 15px;
  }
}

.sweet-alert h2 {
  color: #575757;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  text-transform: none;
  position: relative;
  margin: 25px 0;
  padding: 0;
  line-height: 40px;
  display: block;
}

.sweet-alert p {
  color: #797979;
  font-size: 16px;
  text-align: center;
  font-weight: 300;
  position: relative;
  text-align: inherit;
  float: none;
  margin: 0;
  padding: 0;
  line-height: normal;
}

.sweet-alert fieldset {
  border: none;
  position: relative;
}

.sweet-alert .sa-error-container {
  background-color: #f1f1f1;
  margin-left: -17px;
  margin-right: -17px;
  overflow: hidden;
  padding: 0 10px;
  max-height: 0;
  webkit-transition: padding 0.15s, max-height 0.15s;
  transition: padding 0.15s, max-height 0.15s;
}

.sweet-alert .sa-error-container.show {
  padding: 10px 0;
  max-height: 100px;
  webkit-transition: padding 0.2s, max-height 0.2s;
  transition: padding 0.25s, max-height 0.25s;
}

.sweet-alert .sa-error-container .icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ea7d7d;
  color: white;
  line-height: 24px;
  text-align: center;
  margin-right: 3px;
}

.sweet-alert .sa-error-container p {
  display: inline-block;
}

.sweet-alert .sa-input-error {
  position: absolute;
  top: 29px;
  right: 26px;
  width: 20px;
  height: 20px;
  opacity: 0;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
      transform: scale(0.5);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
  transition: all 0.1s;
}

.sweet-alert .sa-input-error::before, .sweet-alert .sa-input-error::after {
  content: "";
  width: 20px;
  height: 6px;
  background-color: #f06e57;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  left: 50%;
  margin-left: -9px;
}

.sweet-alert .sa-input-error::before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
}

.sweet-alert .sa-input-error::after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}

.sweet-alert .sa-input-error.show {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
      transform: scale(1);
}

.sweet-alert input {
  width: 100%;
  box-sizing: border-box;
  /*     border-radius: 3px; */
  /*     border: 1px solid rgb(215, 215, 215); */
  height: 43px;
  margin-top: 10px;
  margin-bottom: 17px;
  /*     font-size: 18px; */
  /*     box-shadow: inset 0px 1px 1px rgba(black, 0.06); */
  /*     padding: 0 12px; */
  display: none;
  transition: all 0.3s;
}

.sweet-alert input:focus {
  outline: none;
  box-shadow: 0px 0px 3px #c4e6f5;
  border: 1px solid #b4dbed;
}

.sweet-alert input:focus::-moz-placeholder {
  transition: opacity 0.3s 0.03s ease;
  opacity: 0.5;
}

.sweet-alert input:focus:-ms-input-placeholder {
  transition: opacity 0.3s 0.03s ease;
  opacity: 0.5;
}

.sweet-alert input:focus::-webkit-input-placeholder {
  transition: opacity 0.3s 0.03s ease;
  opacity: 0.5;
}

.sweet-alert input::-moz-placeholder {
  color: #bdbdbd;
}

.sweet-alert input::-ms-clear {
  display: none;
}

.sweet-alert input:-ms-input-placeholder {
  color: #bdbdbd;
}

.sweet-alert input::-webkit-input-placeholder {
  color: #bdbdbd;
}

.sweet-alert.show-input input {
  display: block;
}

.sweet-alert .sa-confirm-button-container {
  display: inline-block;
  position: relative;
}

.sweet-alert .la-ball-fall {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -27px;
  margin-top: 4px;
  opacity: 0;
  visibility: hidden;
}

.sweet-alert button {
  /*     background-color: $btnBlue; */
  /*     color: white; */
  /*     border: none; */
  /*     box-shadow: none; */
  /*     font-size: 17px; */
  /*     font-weight: 500; */
  /*     -webkit-border-radius: 4px; */
  /*     border-radius: 5px; */
  /*     padding: 10px 32px; */
  margin: 26px 5px 0 5px;
  cursor: pointer;
}

.sweet-alert button:focus {
  outline: none;
  box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
}

.sweet-alert button:hover {
  background-color: #7ecff4;
}

.sweet-alert button:active {
  background-color: #5dc2f1;
}

.sweet-alert button.cancel {
  /*       background-color: $btnGray; */
}

.sweet-alert button.cancel:hover {
  /*         background-color: darken($btnGray, 3%); */
}

.sweet-alert button.cancel:active {
  /*         background-color: darken($btnGray, 10%); */
}

.sweet-alert button.cancel:focus {
  box-shadow: rgba(197, 205, 211, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset !important;
}

.sweet-alert button[disabled] {
  opacity: .6;
  cursor: default;
}

.sweet-alert button.confirm[disabled] {
  color: transparent;
}

.sweet-alert button.confirm[disabled] ~ .la-ball-fall {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.sweet-alert button::-moz-focus-inner {
  border: 0;
}

.sweet-alert[data-has-cancel-button=false] button {
  box-shadow: none !important;
}

.sweet-alert[data-has-confirm-button=false][data-has-cancel-button=false] {
  padding-bottom: 40px;
}

.sweet-alert .sa-icon {
  width: 80px;
  height: 80px;
  border: 4px solid gray;
  border-radius: 40px;
  border-radius: 50%;
  margin: 20px auto;
  padding: 0;
  position: relative;
  box-sizing: content-box;
}

.sweet-alert .sa-icon.sa-error {
  border-color: #F27474;
}

.sweet-alert .sa-icon.sa-error .sa-x-mark {
  position: relative;
  display: block;
}

.sweet-alert .sa-icon.sa-error .sa-line {
  position: absolute;
  height: 5px;
  width: 47px;
  background-color: #F27474;
  display: block;
  top: 37px;
  border-radius: 2px;
}

.sweet-alert .sa-icon.sa-error .sa-line.sa-left {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  left: 17px;
}

.sweet-alert .sa-icon.sa-error .sa-line.sa-right {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
  right: 16px;
}

.sweet-alert .sa-icon.sa-warning {
  border-color: #F8BB86;
}

.sweet-alert .sa-icon.sa-warning .sa-body {
  position: absolute;
  width: 5px;
  height: 47px;
  left: 50%;
  top: 10px;
  border-radius: 2px;
  margin-left: -2px;
  background-color: #F8BB86;
}

.sweet-alert .sa-icon.sa-warning .sa-dot {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-left: -3px;
  left: 50%;
  bottom: 10px;
  background-color: #F8BB86;
}

.sweet-alert .sa-icon.sa-info {
  border-color: #C9DAE1;
}

.sweet-alert .sa-icon.sa-info::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 29px;
  left: 50%;
  bottom: 17px;
  border-radius: 2px;
  margin-left: -2px;
  background-color: #C9DAE1;
}

.sweet-alert .sa-icon.sa-info::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-left: -3px;
  top: 19px;
  background-color: #C9DAE1;
  left: 50%;
}

.sweet-alert .sa-icon.sa-success {
  border-color: #A5DC86;
}

.sweet-alert .sa-icon.sa-success::before, .sweet-alert .sa-icon.sa-success::after {
  content: '';
  border-radius: 40px;
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 120px;
  background: white;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}

.sweet-alert .sa-icon.sa-success::before {
  border-radius: 120px 0 0 120px;
  top: -7px;
  left: -33px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
  -webkit-transform-origin: 60px 60px;
  -ms-transform-origin: 60px 60px;
      transform-origin: 60px 60px;
}

.sweet-alert .sa-icon.sa-success::after {
  border-radius: 0 120px 120px 0;
  top: -11px;
  left: 30px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
  -webkit-transform-origin: 0px 60px;
  -ms-transform-origin: 0px 60px;
      transform-origin: 0px 60px;
}

.sweet-alert .sa-icon.sa-success .sa-placeholder {
  width: 80px;
  height: 80px;
  border: 4px solid rgba(165, 220, 134, 0.2);
  border-radius: 40px;
  border-radius: 50%;
  box-sizing: content-box;
  position: absolute;
  left: -4px;
  top: -4px;
  z-index: 2;
}

.sweet-alert .sa-icon.sa-success .sa-fix {
  width: 5px;
  height: 90px;
  background-color: white;
  position: absolute;
  left: 28px;
  top: 8px;
  z-index: 1;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
}

.sweet-alert .sa-icon.sa-success .sa-line {
  height: 5px;
  background-color: #A5DC86;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 2;
}

.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
  width: 25px;
  left: 14px;
  top: 46px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}

.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
  width: 47px;
  right: 8px;
  top: 38px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
}

.sweet-alert .sa-icon.sa-custom {
  background-size: contain;
  border-radius: 0;
  border: none;
  background-position: center center;
  background-repeat: no-repeat;
}

/*
 * Animations
 */
@-webkit-keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
  }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

@keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
  }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

@-webkit-keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
  }
}

@keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
  }
}

@-webkit-keyframes slideFromTop {
  0% {
    top: 0%;
  }
  100% {
    top: 50%;
  }
}

@keyframes slideFromTop {
  0% {
    top: 0%;
  }
  100% {
    top: 50%;
  }
}

@-webkit-keyframes slideToTop {
  0% {
    top: 50%;
  }
  100% {
    top: 0%;
  }
}

@keyframes slideToTop {
  0% {
    top: 50%;
  }
  100% {
    top: 0%;
  }
}

@-webkit-keyframes slideFromBottom {
  0% {
    top: 70%;
  }
  100% {
    top: 50%;
  }
}

@keyframes slideFromBottom {
  0% {
    top: 70%;
  }
  100% {
    top: 50%;
  }
}

@-webkit-keyframes slideToBottom {
  0% {
    top: 50%;
  }
  100% {
    top: 70%;
  }
}

@keyframes slideToBottom {
  0% {
    top: 50%;
  }
  100% {
    top: 70%;
  }
}

.showSweetAlert[data-animation=pop] {
  -webkit-animation: showSweetAlert 0.3s;
  animation: showSweetAlert 0.3s;
}

.showSweetAlert[data-animation=none] {
  -webkit-animation: none;
  animation: none;
}

.showSweetAlert[data-animation=slide-from-top] {
  -webkit-animation: slideFromTop 0.3s;
  animation: slideFromTop 0.3s;
}

.showSweetAlert[data-animation=slide-from-bottom] {
  -webkit-animation: slideFromBottom 0.3s;
  animation: slideFromBottom 0.3s;
}

.hideSweetAlert[data-animation=pop] {
  -webkit-animation: hideSweetAlert 0.2s;
  animation: hideSweetAlert 0.2s;
}

.hideSweetAlert[data-animation=none] {
  -webkit-animation: none;
  animation: none;
}

.hideSweetAlert[data-animation=slide-from-top] {
  -webkit-animation: slideToTop 0.4s;
  animation: slideToTop 0.4s;
}

.hideSweetAlert[data-animation=slide-from-bottom] {
  -webkit-animation: slideToBottom 0.3s;
  animation: slideToBottom 0.3s;
}

@-webkit-keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@-webkit-keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}

@keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}

@-webkit-keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
}

@keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
}

.animateSuccessTip {
  -webkit-animation: animateSuccessTip 0.75s;
  animation: animateSuccessTip 0.75s;
}

.animateSuccessLong {
  -webkit-animation: animateSuccessLong 0.75s;
  animation: animateSuccessLong 0.75s;
}

.sa-icon.sa-success.animate::after {
  -webkit-animation: rotatePlaceholder 4.25s ease-in;
  animation: rotatePlaceholder 4.25s ease-in;
}

@-webkit-keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1;
  }
}

@keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1;
  }
}

.animateErrorIcon {
  -webkit-animation: animateErrorIcon 0.5s;
  animation: animateErrorIcon 0.5s;
}

@-webkit-keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0;
  }
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0;
  }
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px;
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0;
  }
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0;
  }
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px;
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1;
  }
}

.animateXMark {
  -webkit-animation: animateXMark 0.5s;
  animation: animateXMark 0.5s;
}

@-webkit-keyframes pulseWarning {
  0% {
    border-color: #F8D486;
  }
  100% {
    border-color: #F8BB86;
  }
}

@keyframes pulseWarning {
  0% {
    border-color: #F8D486;
  }
  100% {
    border-color: #F8BB86;
  }
}

.pulseWarning {
  -webkit-animation: pulseWarning 0.75s infinite alternate;
  animation: pulseWarning 0.75s infinite alternate;
}

@-webkit-keyframes pulseWarningIns {
  0% {
    background-color: #F8D486;
  }
  100% {
    background-color: #F8BB86;
  }
}

@keyframes pulseWarningIns {
  0% {
    background-color: #F8D486;
  }
  100% {
    background-color: #F8BB86;
  }
}

.pulseWarningIns {
  -webkit-animation: pulseWarningIns 0.75s infinite alternate;
  animation: pulseWarningIns 0.75s infinite alternate;
}

@-webkit-keyframes rotate-loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dt-buttons {
  display: none !important;
}

.select2.select2-container {
  min-width: 100%;
}

.select2.select2-container.select2-container--focus .select2-selection--multiple {
  border: 0;
}

.select2.select2-container .select2-selection {
  background-color: initial;
  border: 0;
  border-radius: 0;
}

.select2.select2-container .select2-selection .select2-selection__rendered {
  padding-left: 0;
}

.select2.select2-container .select2-selection__arrow {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  height: auto !important;
}

.select2.select2-container .select2-selection__arrow b {
  top: initial;
  bottom: 0;
}

.select2.select2-container .select2-selection.select2-selection--multiple {
  line-height: initial;
  height: auto;
  min-height: 20px;
}

.select2.select2-container .select2-selection.select2-selection--multiple .select2-selection__choice {
  background-color: #2196f3;
  border-color: #fff;
  border-radius: 3px;
  color: #fff;
  margin-top: 0;
}

.select2.select2-container .select2-selection.select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
  color: #fff;
}

.select2-container .select2-dropdown {
  background-color: white;
  border: 0;
  border-radius: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.select2-container .select2-dropdown .select2-results ul.select2-results__options li.select2-results__option {
  clear: both;
  cursor: pointer;
  color: #26a69a;
  display: block;
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  font-size: 12px;
}

.select2-container .select2-dropdown .select2-results ul.select2-results__options li.select2-results__option.select2-results__option--highlighted, .select2-container .select2-dropdown .select2-results ul.select2-results__options li.select2-results__option:hover {
  background-color: #f5f5f5;
}

.select2-container .select2-dropdown .select2-results ul.select2-results__options li.select2-results__option.select2-results__option--highlighted[aria-selected=true] {
  background-color: #e1e1e1;
}

/*********************************
* PALETAS DE COLORES
*********************************/
/*OTROS COLORES*/
/*Variables para textos*/
/*
* lighten (color, %)
* darken (color, %)
*/
/*MIXINS*/
/*Centrado absoluto*/
/*
 *  SCROLLBAR 
 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ccc;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F7F7F7 !important;
}

/*ar-container*/
.__container .headboard {
  position: relative;
  width: 100%;
  height: auto;
  display: inline-block;
  margin-bottom: 20px;
  background-color: #eeeeee;
  padding: 0;
}

.__container .headboard .navbar {
  margin: 0;
  background-color: transparent;
  color: #777;
}

/**********************************
* CONTAINER POSITION FOTTER
***********************************/
.__container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  min-height: 100vh;
}

.__container footer {
  padding: 5px 10px;
  position: relative;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  background-color: #34495E;
  color: #fff;
  min-height: 60px;
  width: 100%;
  /*AFFIX BACK TO TOP*/
}

@media screen and (min-width: 768px) {
  .__container footer {
    margin-left: 60px;
  }
}

.__container footer p {
  margin: auto;
  display: inline-block;
  margin-right: 60px;
  bottom: 5px;
  position: absolute;
}

.__container footer #top-link-block {
  right: 10px;
  height: 50px;
  width: 50px;
  display: inline-block;
  background-color: rgba(26, 188, 156, 0.8);
}

.__container footer #top-link-block a {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  text-align: center;
  line-height: 50px;
  color: #FFFFFF;
  font-size: 1.5em;
  text-decoration: none;
}

.__container footer #top-link-block:hover {
  background-color: #1ABC9C;
}

.__container footer #top-link-block:active {
  background-color: #1ABC9C;
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.__container footer #top-link-block.affix-top {
  position: absolute;
  /* allows it to "slide" up into view */
  bottom: -82px;
}

.__container footer #top-link-block.affix {
  display: block;
  position: absolute !important;
}

/**************************
 * ACTIVE - INACTIVE
 */
tr.inactive {
  background-color: #f5f5f5;
}

tr.inactive td, tr.inactive a, tr.inactive i {
  color: #ccc !important;
}

/* -- import Roboto Font ---------------------------- */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../../bootstrap/3.3.6/fonts/glyphicons-halflings-regular.eot");
}

/*BOTTON CIRCLE*/
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0 !important;
  font-size: 12px;
  border-radius: 15px;
  vertical-align: middle;
}

.btn-circle.btn-default:hover {
  color: #333 !important;
  background-color: #e6e6e6 !important;
  border-color: #d9d9d9 !important;
}

.btn-circle.btn-primary:hover {
  color: #fff !important;
  background-color: #286090 !important;
  border-color: #22537c !important;
}

.btn-circle.btn-success:hover {
  color: #fff !important;
  background-color: #449d44 !important;
  border-color: #3c8b3c !important;
}

.btn-circle.btn-info:hover {
  color: #fff !important;
  background-color: #31b0d5 !important;
  border-color: #28a1c4 !important;
}

.btn-circle.btn-warning:hover {
  color: #fff !important;
  background-color: #ec971f !important;
  border-color: #df8a13 !important;
}

.btn-circle.btn-danger:hover {
  color: #fff !important;
  background-color: #c9302c !important;
  border-color: #b42b27 !important;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px !important;
  font-size: 18px;
  border-radius: 25px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px !important;
  font-size: 24px;
  border-radius: 35px;
}

/*BUTTON ROUNDER*/
.btn-option-table {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4em;
  list-style: none;
  margin: 0 auto;
  width: 123px;
}

.btn-option-table li {
  border-radius: 3px;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
  margin-right: 8px;
  text-align: center;
}

.btn-option-table li:last-child {
  margin-right: 0;
}

.btn-option-table li a {
  color: #fff;
  display: block;
  line-height: 1;
  max-width: 40px;
  max-height: 40px;
  padding: 10px;
}

.btn-option-table .show {
  background-color: #31b0d5;
}

.btn-option-table .show:hover {
  background-color: #28a1c4;
}

.btn-option-table .edit {
  background-color: #ec971f;
}

.btn-option-table .edit:hover {
  background-color: #df8a13;
}

.btn-option-table .delete {
  background-color: #c9302c;
}

.btn-option-table .delete:hover {
  background-color: #b42b27;
}

.btn-option-table .show:active,
.btn-option-table .edit:active,
.btn-option-table .delete:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

/*Buton group en construccion*/
input.button {
  border: 0 !important;
}

.__button-group {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.__button-group .button {
  display: inline-block;
  line-height: 3em;
  padding: 0 1.5em;
  color: #fff;
  text-transform: uppercase;
  border-radius: .2em;
  font-size: 1.3em;
}

.__button-group .button:first-child {
  background: #ccc;
}

.__button-group .button:first-child:hover {
  background: #bfbfbf;
}

.__button-group .button:last-child {
  background: blue;
}

.__button-group .button:last-child:hover {
  background: #0000e6;
}

.__button-group .button:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.btn.btn-fab span {
  line-height: 2.2;
}

.btn.btn-fab span,
.btn.btn-fab-mini span,
.bntn.btn-fab-xs span {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.btn.btn-fab-mini span {
  font-size: .8em;
  width: 1em;
  height: 1em;
  line-height: 1;
}

/* BUTTON APPS */
.btn.btn-app {
  position: relative;
  padding: 15px 5px;
  margin: 0 0 10px 10px;
  min-width: 80px;
  height: 60px;
  box-shadow: none;
  border-radius: 0;
  text-align: center;
  color: #666;
  border: 1px solid #ddd;
  background-color: #fafafa;
  font-size: 12px;
  text-transform: inherit;
  font-weight: normal;
}

.btn.btn-app > .fa, .btn.btn-app > .glyphicon, .btn.btn-app > .ion, .btn.btn-app > .material-icons {
  font-size: 20px;
  display: block;
}

.btn.btn-app:hover {
  background: #f4f4f4;
  color: #444;
  border-color: #aaa;
}

.btn.btn-app:active, .btn.btn-app:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.btn-app > .badge {
  position: absolute;
  top: -3px;
  right: -10px;
  font-size: 10px;
  font-weight: 400;
}

/*
* BUTTON TOGGLE
*
*/
.hidden-head {
  display: none;
}

/*Dimenciones del contenedor Padre*/
.__image_container-preview {
  width: 170px;
  height: 170px;
  position: relative;
}

/*Boton Cargar`...*/
.img-remove:after {
  position: absolute;
  font-family: 'Glyphicons Halflings';
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  content: "\e014";
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.8;
  transition: all .2s;
}

.img-remove:hover:after {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.img-remove:active {
  -webkit-transform: scale(0.98);
      -ms-transform: scale(0.98);
          transform: scale(0.98);
}

.__img-preview {
  box-shadow: 0 0 0 8px #fff inset, 0 0 0 10px transparent inset;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-color: white !important;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 4em;
  color: #ccc;
}

.__img-preview, .__img-preview .img-remove {
  position: absolute;
  height: 170px;
  width: 170px;
}

.__img-preview > span, .__img-preview > i {
  font-size: 1.1em;
  transition: all .2s;
}

.__img-preview:after {
  content: '';
  width: 178px;
  height: 178px;
  position: absolute;
  z-index: -1;
  top: -4px;
  left: -4px;
  background: linear-gradient(to right, transparent 30px, #fff 30px, #fff 148px, transparent 148px), linear-gradient(#ccc 30px, transparent 30px, transparent 148px, #ccc 148px);
}

.__img-preview:hover > span, .__img-preview:hover > i {
  font-size: 1.4em;
  color: #666666;
}

.__img-preview img {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}

/*PRELOADERS LOAD ROTATE*/
.load-rotate {
  display: none;
  position: absolute;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 1.5em;
}

.load-rotate span {
  -webkit-animation: rotar 1s linear infinite;
  animation: rotar 1s linear infinite;
  color: #ccc;
}

@-webkit-keyframes rotar {
  to {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotar {
  to {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.load {
  position: fixed;
  z-index: 999999;
  background-color: rgba(0, 128, 128, 0.95);
  width: 100%;
  min-height: 100vh;
  font-size: 4em;
}

.load:before {
  content: 'hola';
  color: #000;
}

.load:after {
  font-size: 1em;
  font-family: 'Glyphicons Halflings';
  content: '\e031';
  border-radius: 50%;
  line-height: 1em;
  color: white;
  width: 1em;
  height: 1em;
  margin: auto;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  -webkit-animation: rotar 1s linear infinite;
          animation: rotar 1s linear infinite;
}

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  -ms-transform: rotate(45deg);
      transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  -ms-transform: scale(1.1) rotate(90deg);
      transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  -ms-transform: scale(1.1) rotate(180deg);
      transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  -ms-transform: scale(1.1) rotate(270deg);
      transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

/**********************************
* MENU MENU
***********************************/
.menu-main {
  background-color: #eeeeee;
  font-family: 'Roboto', sans-serif;
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 25;
}

.menu-main, .menu-main ul {
  color: #34495E;
  line-height: 60px;
  margin: 0;
  padding: 0;
}

.menu-main li, .menu-main ul li {
  list-style: none;
}

.menu-main li a, .menu-main ul li a {
  cursor: pointer;
  display: block;
  height: 100%;
  text-decoration: none;
}

.menu-main > li {
  font-weight: 500;
  float: left;
  height: 100%;
  text-align: center;
}

.menu-main > li:first-child {
  position: relative;
  width: 60px;
}

.menu-main > li:last-child {
  border-right: none;
  float: right;
}

.toggle-menu, .title {
  display: inline-block;
  font-weight: 500;
}

.title a {
  font-size: 16px;
}

li + .title > a {
  padding-left: 6px;
}

/*TITULO*/
.menu-main > li.title {
  width: 160px;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .menu-main > li.title {
    width: auto;
  }
}

.menu-main > li.title:hover a {
  color: white;
}

.menu-main > li.title span.page-title {
  display: block;
}

@media screen and (min-width: 768px) {
  .menu-main > li.title span.page-title {
    display: none;
  }
}

.menu-main .icon {
  top: 0;
  text-align: center;
  display: inline-block;
  height: 60px;
  width: 60px;
  line-height: 60px;
  font-size: 1.6em;
}

.menu-main .icon.icon-menu {
  cursor: pointer;
}

.menu-main .icon.icon-menu:hover {
  background-color: rgba(255, 255, 255, 0.16);
}

.menu-main .icon.menu-down {
  font-size: 1.1em;
  height: 60px;
  width: 60px;
  float: right;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  transition: all .3s ease;
}

/**********************************
* TOGGLE MENU
***********************************/
.sidebar-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 60px;
  background-color: #F7F7F7;
  -webkit-transform: translateX(-60px);
      -ms-transform: translateX(-60px);
          transform: translateX(-60px);
  transition: width 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, width 0.3s;
  transition: transform 0.3s, width 0.3s, -webkit-transform 0.3s;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
  background: #FFFFFF;
  z-index: 200;
}

.sidebar-menu.open-part {
  border-right: 1px solid #D6DBDF;
}

.sidebar-menu.open-part li.active {
  background-color: #f7f7f7;
}

.sidebar-menu.open-part li.active a::before {
  content: '';
  box-shadow: none;
}

.sidebar-menu .scroller {
  position: absolute;
  overflow-y: auto;
  width: 220px;
  height: 100%;
}

.menu-main > li > .breadcrumb {
  padding: 0 10px;
  margin: 0;
}

.menu-main > li > .breadcrumb li {
  font-weight: 300;
}

.menu-main > li > .breadcrumb li a {
  font-size: 14px;
  display: inline;
}

.menu-main > li > .breadcrumb li:last-child {
  font-size: 16px;
}

/**********************************
* MENU
***********************************/
.sidebar-menu .menu {
  margin: 0 auto;
  width: 100%;
}

.sidebar-menu .menu a, .sidebar-menu .menu i, .sidebar-menu .menu span {
  color: #757575;
  font-weight: 500;
}

.sidebar-menu .menu > li {
  line-height: 60px;
  text-align: left;
  display: block;
}

.sidebar-menu .menu > li a {
  width: 100%;
  transition: all .3s ease;
}

.sidebar-menu .menu > li a:hover {
  background-color: rgba(245, 245, 245, 0.32);
}

.sidebar-menu .menu > li.active > a::before {
  content: '';
  width: 100%;
  height: 60px;
  position: absolute;
  left: 0;
}

.sidebar-menu .menu > li.active > a .icon.menu-down {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.sidebar-menu .menu > li.active ul.sub-menu {
  display: none;
}

li ul.sub-menu {
  display: none;
}

ul.sub-menu {
  display: none;
  height: auto;
  transition: all 4s ease;
}

ul.sub-menu li {
  display: block;
  line-height: 40px;
}

ul.sub-menu li a {
  font-weight: 400 !important;
  font-size: 12px;
  padding-left: 60px;
}

ul.sub-menu li.active {
  background-color: #f5f5f5;
}

ul.sub-menu li:hover > a {
  background-color: rgba(245, 245, 245, 0.32);
  color: #777;
}

/**********************************
* ICONOS DE  NOTIFICACION EN MAIN-MENU
**********************************/
@media screen and (max-width: 422px) {
  .notification-icon .icon {
    width: 45px;
  }
}

.notification-icon {
  display: inline-block;
}

.notification-icon > a {
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .notification-icon > a {
    border-right: none;
  }
}

.notification-icon > a:last-child {
  border-right: none;
}

.notification-icon > a:hover {
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.2);
}

.notification-icon .icon-option {
  display: none;
}

@media screen and (max-width: 768px) {
  .notification-icon .icon-option {
    display: inline-block;
  }
}

@media screen and (max-width: 768px) {
  .notification-icon .icon-hidden {
    display: none;
  }
}

.user-profile-img {
  display: inline-block;
  background-color: #9C27B0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /*       margin-right: 10px; */
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-size: 12px;
}

/**********************************
* CONTAINER WRAPPER
***********************************/
.container-wrapper, .__containerheader {
  transition: margin 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, margin 0.3s;
  transition: transform 0.3s, margin 0.3s, -webkit-transform 0.3s;
}

.container-wrapper {
  width: 100%;
  position: relative;
  padding: 0px 0px 10px;
  margin-top: 60px;
  margin-bottom: 60px;
}

@media (min-width: 669px) and (max-width: 1024px) {
  .sidebar-menu {
    width: 60px;
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
  }
  .sidebar-menu .sub-menu {
    display: none;
  }
  .sidebar-menu.open-part {
    width: 220px;
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
  }
  .sidebar-menu.open-part .sub-menu {
    display: none;
  }
  .sidebar-menu.open-part li.active .sub-menu {
    display: none;
  }
  .container-wrapper,
  .container-wrapper.open-part {
    margin-left: 60px;
  }
  .container-wrapper .headboard .navbar-btn.menu-fixed,
  .container-wrapper.open-part .headboard .navbar-btn.menu-fixed {
    width: calc(100% - 60px);
  }
}

@media screen and (min-width: 1025px) {
  .sidebar-menu {
    width: 220px;
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
  }
  .sidebar-menu ul.sub-menu {
    display: none;
  }
  .sidebar-menu.open-part {
    width: 60px;
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
  }
  .sidebar-menu.open-part ul.sub-menu {
    display: none;
  }
  .container-wrapper {
    margin-left: 60px;
  }
  .container-wrapper .headboard .navbar-btn.menu-fixed {
    width: calc(100% - 60px);
  }
  .container-wrapper.open-part {
    margin-left: 220px;
  }
  .container-wrapper.open-part .headboard .navbar-btn.menu-fixed {
    width: calc(100% - 220px);
  }
}

@media screen and (max-width: 668px) {
  .sidebar-menu,
  .sidebar-menu .scroller {
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
    width: 0;
  }
  .sidebar-menu.open-part,
  .sidebar-menu.open-part .scroller {
    width: 220px;
  }
  .sidebar-menu.open-part ul.sub-menu,
  .sidebar-menu.open-part .scroller ul.sub-menu {
    display: block;
  }
  .headboard .navbar-btn.menu-fixed {
    width: 100%;
  }
}

@media screen and (max-width: 422px) {
  .sidebar-menu.open-part,
  .sidebar-menu.open-part .scroller {
    width: 100%;
  }
  .sidebar-menu.open-part ul.sub-menu,
  .sidebar-menu.open-part .scroller ul.sub-menu {
    display: block;
  }
}

/*END MENU*/
/**********************************
* MENU OPTION
***********************************/
.open .x-menu-option,
.modal .x-menu-option {
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.5);
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  margin: 0 auto;
  padding: .5em;
  text-decoration: none;
  z-index: 10 !important;
}

.open .x-menu-option li,
.modal .x-menu-option li {
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
  height: auto;
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
  width: 62px;
}

.x-menu-option-2 {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  padding: 0px !important;
  margin: 0px;
}

.x-menu-option-2 li {
  margin-right: 5px;
}

.search-bar form,
.search-bar input[type=text] {
  background-color: #e4e4e4;
}

.search-bar {
  box-sizing: border-box;
  width: 450px;
  float: left;
  display: none;
}

.search-bar form {
  margin: 5px;
  height: 50px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-bar input {
  margin-top: 5px;
  width: calc(100% - 60px);
  height: 40px;
  line-height: 40px;
  border: none;
  font-size: 1.3em;
  color: white;
  font-weight: 300;
  /* PLACEHOLDERS */
  /* Chrome/Opera/Safari/Edge */
  /* Firefox 18- */
  /* IE 10+ */
}

.search-bar input::-webkit-input-placeholder {
  color: rgba(245, 245, 245, 0.69) !important;
}

.search-bar input::-moz-placeholder {
  color: rgba(245, 245, 245, 0.69) !important;
}

.search-bar input:-ms-input-placeholder {
  color: rgba(245, 245, 245, 0.69) !important;
}

.search-bar i.control-cancel,
.search-bar i.control-search,
.search-bar i.control-back {
  min-width: 60px !important;
  line-height: 60px;
  cursor: default;
  font-size: 20px;
  font-weight: bold;
}

.search-bar i.control-cancel {
  visibility: hidden;
  z-index: 2000;
}

.search-bar i.control-back {
  display: none;
}

@media screen and (max-width: 768px) {
  .search-bar {
    display: none;
    position: absolute;
    width: 100%;
    margin: 0;
    box-shadow: 0 10px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  }
  .search-bar i {
    font-size: 30px;
  }
  .search-bar i.control-back {
    display: block;
  }
  .search-bar i.control-search {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .search-bar {
    display: block;
  }
}

.icon#search-bar-alter {
  display: none;
}

@media screen and (max-width: 768px) {
  .icon#search-bar-alter {
    display: inline-block;
  }
}

.nav.nav-pills li {
  border: none;
  border-right: 1px solid #ddd;
  margin: 0;
}

.nav.nav-pills li:last-child {
  border: none;
}

.nav.nav-pills li a {
  border-radius: 0;
  color: #555;
}

.nav.nav-pills li.active a {
  background-color: transparent;
  color: #00a9e0;
}

.nav.nav-pills.tabs-flex {
  position: relative;
}

.nav.nav-pills.tabs-flex li {
  border: none;
}

.nav.nav-pills.tabs-flex li.active a {
  background-color: transparent;
  box-shadow: 0 -2px 0 #41b000 inset;
  color: #777;
}

.nav.nav-pills.tabs-flex li a {
  border-radius: 0;
}

@media screen and (max-width: 768px) {
  .nav.nav-pills.tabs-flex {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .nav.nav-pills.tabs-flex li {
    -webkit-flex: auto !important;
        -ms-flex: auto !important;
            flex: auto !important;
    text-align: center;
  }
  .nav.nav-pills.tabs-flex li.active a {
    box-shadow: 0 -4px 0 #f7f7f7 inset;
  }
  .nav.nav-pills.tabs-flex li a {
    padding-right: 0 !important;
    padding-left: 0 !important;
    border-radius: 0;
  }
}

/* Bootstrap */
.nav.nav-x {
  background-color: #fff;
  border-bottom: 0;
  min-height: 50vh;
}

.nav.nav-x li a {
  color: #777 !important;
}

.nav.tabs-default {
  background-color: transparent;
  border-bottom: 0;
}

.nav.tabs-default li a {
  border-radius: 0;
  color: #777 !important;
}

.nav.tabs-default li:hover a {
  background-color: #eeeeee !important;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@media screen and (max-width: 480px) {
  ul.tab-control-bottom {
    background-color: #777 !important;
    bottom: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    height: 60px;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 5px;
    position: fixed;
    width: 100%;
    z-index: 2;
    -webkit-animation: animatebottom .3s;
            animation: animatebottom .3s;
  }
  ul.tab-control-bottom li:first-child:hover a {
    background-color: transparent;
  }
  ul.tab-control-bottom li:nth-child(1n+2):hover a {
    color: #777 !important;
  }
  ul.tab-control-bottom a {
    border-radius: 0px !important;
    color: #f5f5f5 !important;
    font-size: 1.2em;
    line-height: 30px;
    margin: 0;
  }
}

/* *********  Tile stats  **************************** */
.tile-stats {
  position: relative;
  display: block;
  margin-bottom: 12px;
  border: 1px solid #E4E4E4;
  -webkit-border-radius: 5px;
  overflow: hidden;
  padding-bottom: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  background: #FFF;
  transition: all 300ms ease-in-out;
}

.tile-stats:hover .icon i,
.tile-stats:hover .icon span {
  -webkit-animation-name: tansformAnimation;
          animation-name: tansformAnimation;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  color: rgba(58, 58, 58, 0.41);
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: tansformAnimation;
  -webkit-animation-duration: .5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: tansformAnimation;
  -moz-animation-duration: .5s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
}

.tile-stats .icon {
  color: #BAB8B8;
  position: absolute;
  right: 53px;
  top: 22px;
  z-index: 1;
}

.tile-stats .icon i,
.tile-stats .icon span {
  margin: 0;
  font-size: 60px;
  line-height: 0;
  vertical-align: bottom;
  padding: 0;
}

.tile-stats .count {
  font-size: 38px;
  font-weight: bold;
  line-height: 1.65857143;
}

.tile-stats .count,
.tile-stats h3,
.tile-stats p {
  position: relative;
  margin: 0;
  margin-left: 10px;
  z-index: 5;
  padding: 0;
}

.tile-stats h3 {
  color: #BAB8B8;
}

.tile-stats p {
  margin-top: 5px;
  font-size: 12px;
}

.tile-stats > .dash-box-footer {
  position: relative;
  text-align: center;
  margin-top: 5px;
  padding: 3px 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.tile-stats > .dash-box-footer:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.15);
}

.tile-stats > .dash-box-footer:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.15);
}

table.tile_info {
  padding: 10px 15px;
}

table.tile_info span.right {
  margin-right: 0;
  float: right;
  position: absolute;
  right: 4%;
}

.tile:hover {
  text-decoration: none;
}

.tile_header {
  border-bottom: transparent;
  padding: 7px 15px;
  margin-bottom: 15px;
  background: #E7E7E7;
}

.tile_head h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.tiles-bottom {
  padding: 5px 10px;
  margin-top: 10px;
  background: rgba(194, 194, 194, 0.3);
  text-align: left;
}

/* *********  /Tile stats  **************************** */
/* AUTOCOMPLETE PLUGIN JQuery UI */
/*.ui-autocomplete .ui-menu .ui-widget .ui-widget-content .ui-corner-all*/
ul.ui-menu {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  padding: 5px 0;
  overflow: auto;
  position: absolute;
  box-sizing: border-box;
  max-height: 350px;
  z-index: 1;
}

li.ui-menu-item {
  color: #777;
  list-style: none;
  padding: 10px;
}

li.ui-menu-item:hover {
  background-color: teal;
}

li.ui-menu-item:hover > :nth-child(n) {
  background-color: transparent !important;
  border: none;
  color: white !important;
}

ul.ui-menu > li.ui-menu-item .title {
  color: #777;
  font-size: .99em;
}

ul.ui-menu > li.ui-menu-item p {
  margin-bottom: 0px;
  font-style: italic;
  text-transform: capitalize;
  font-size: .7em;
  color: #9E9E9E;
}

.has-feedback .form-control-feedback {
  color: #9E9E9E;
  z-index: 1;
}

/**
 * CODE
 */
.serial-code {
  color: #777;
  font-weight: bold;
  text-transform: uppercase;
}

table.table {
  width: 100% !important;
}

table.table.table-default thead tr {
  background-color: #34495E;
  color: #ffffff;
}

table.table.table-no-heading thead {
  display: none;
}

table.table.table-truncate-text {
  white-space: nowrap;
  table-layout: fixed;
}

table.table .btn, table.table .list-group {
  margin: 0;
}

@media screen and (max-width: 767px) {
  table.table tr td, table.table tr th {
    padding: 8px;
    font-size: 13px;
  }
}

table.table.table-control thead > tr > th, table.table.table-control thead > tr > td,
table.table.table-control tbody > tr > th, table.table.table-control tbody > tr > td,
table.table.table-control tfoot > tr > th, table.table.table-control tfoot > tr > td {
  padding: 8px;
  height: 40px;
  position: relative;
}

table.table.table-control thead > tr > th .form-group, table.table.table-control thead > tr > th .form-group .form-control, table.table.table-control thead > tr > td .form-group, table.table.table-control thead > tr > td .form-group .form-control,
table.table.table-control tbody > tr > th .form-group,
table.table.table-control tbody > tr > th .form-group .form-control, table.table.table-control tbody > tr > td .form-group, table.table.table-control tbody > tr > td .form-group .form-control,
table.table.table-control tfoot > tr > th .form-group,
table.table.table-control tfoot > tr > th .form-group .form-control, table.table.table-control tfoot > tr > td .form-group, table.table.table-control tfoot > tr > td .form-group .form-control {
  margin: 0;
  box-sizing: border-box;
}

table.table.table-control thead > tr > th .form-group .form-control, table.table.table-control thead > tr > td .form-group .form-control,
table.table.table-control tbody > tr > th .form-group .form-control, table.table.table-control tbody > tr > td .form-group .form-control,
table.table.table-control tfoot > tr > th .form-group .form-control, table.table.table-control tfoot > tr > td .form-group .form-control {
  padding: 3px;
  display: none;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

table.table.table-control thead > tr > th .form-group textarea.form-control, table.table.table-control thead > tr > td .form-group textarea.form-control,
table.table.table-control tbody > tr > th .form-group textarea.form-control, table.table.table-control tbody > tr > td .form-group textarea.form-control,
table.table.table-control tfoot > tr > th .form-group textarea.form-control, table.table.table-control tfoot > tr > td .form-group textarea.form-control {
  resize: none;
  overflow: hidden;
}

table.table.table-control thead > tr > th .btn, table.table.table-control thead > tr > th button, table.table.table-control thead > tr > td .btn, table.table.table-control thead > tr > td button,
table.table.table-control tbody > tr > th .btn,
table.table.table-control tbody > tr > th button, table.table.table-control tbody > tr > td .btn, table.table.table-control tbody > tr > td button,
table.table.table-control tfoot > tr > th .btn,
table.table.table-control tfoot > tr > th button, table.table.table-control tfoot > tr > td .btn, table.table.table-control tfoot > tr > td button {
  position: absolute;
  top: 2px;
  bottom: 2px;
  right: 2px;
  left: 2px;
  background-color: transparent;
}

.table .media-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
}

.table .media-content img {
  width: 45px;
  height: 45px;
}

.table .media-content .body {
  padding: 0 5px;
}

/* Checkbox  */
table.table .checkbox label {
  color: #333;
}

/* ACTIVE ROW */
tr.row-active {
  background-color: #eeeeee !important;
}

/*alinear texto verticalmente*/
.table.form-table > tbody > tr > td,
.table.form-table > tbody > tr > th,
.table.form-table > tfoot > tr > td,
.table.form-table > tfoot > tr > th {
  vertical-align: middle !important;
  padding: 1rem 0 1rem 1rem;
}

.table.form-table > tbody > tr > td:last-child,
.table.form-table > tbody > tr > th:last-child,
.table.form-table > tfoot > tr > td:last-child,
.table.form-table > tfoot > tr > th:last-child {
  padding-right: 1rem;
}

@media screen and (max-width: 767px) {
  .table-responsive > .table > tbody > tr > td.cell-description {
    max-width: 100px;
    white-space: pre-line;
  }
}

@media screen and (max-width: 998px) {
  .table.form-table > tbody > tr > td,
  .table.form-table > tbody > tr > th,
  .table.form-table > tfoot > tr > td,
  .table.form-table > tfoot > tr > th {
    padding: .9em;
  }
  .table.form-table > tfoot > tr > td:nth-child(n+2),
  .table.form-table > tfoot > tr > th:nth-child(n+2) {
    text-align: right;
  }
}

table.total-amount thead tr th:last-child,
table.total-amount thead tr td:last-child,
table.total-amount tbody tr td:last-child {
  text-align: right;
}

table.total-amount tfoot tr.total {
  border-top: 1px solid #ddd;
  color: #555;
}

table.total-amount tfoot tr td {
  text-align: right;
  border: 0px;
}

@media screen and (max-width: 998px) {
  table.table.table-sm .checkbox.checkbox-mini {
    margin-top: 0px;
  }
  table.table.table-sm .checkbox.checkbox-mini .checkbox-material {
    top: 0;
  }
  table.table.table-sm tr td, table.table.table-sm tr th {
    font-size: small;
    padding-left: .2em !important;
    padding-right: .2em !important;
    vertical-align: top !important;
  }
}

.table.table-form .form-group .form-control {
  border-color: transparent;
}

.table.table-form .form-group.is-focused .form-control, .table.table-form .form-group:hover .form-control {
  border-color: #ccc;
}

table tr.editing td {
  /*background-color: red;*/
}

.table.table-condensed .btn-group {
  margin: 0 1px;
}

.table .cell-total, .table .cell-amount, .table .cell-unit-cost, .table .input-unit-cost {
  text-align: right !important;
}

.cell-total {
  font-size: 15px;
  font-weight: 400;
  color: #777;
}

header .panel {
  border: none !important;
  border-radius: 0px !important;
  background-color: #D6DBDF !important;
  color: #757575 !important;
}

.x-panel .panel-heading {
  border-bottom: 2px solid #E6E9ED;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1px 15px;
  background-color: #fff !important;
  color: #607D8B;
}

.x-panel .panel-heading div:nth-child(n) {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.x-panel .panel-heading div:last-child {
  line-height: 55px;
  text-align: right;
}

.x-panel .panel-footer {
  background-color: #fff;
  border-top: 1px solid #E6E9ED;
  margin-top: 10px;
  padding: 10px 15px;
  width: 100%;
}

.panel.__panel {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  height: auto;
}

.panel.__panel .panel-heading {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
  margin-bottom: 10px;
}

.panel.__panel .panel-heading h2,
.panel.__panel .panel-heading h3 {
  margin: 0px !important;
  line-height: 1.5;
  color: #73879C;
  display: inline-block;
  font-size: 1.5em;
}

.panel.__panel .panel-heading small {
  color: #777;
  margin-left: 10px;
  font-size: 1em;
}

.panel.__panel .panel-body {
  padding: 0 5px 6px;
  position: relative;
  width: 100%;
  float: left;
  margin-top: 5px;
}

.panel .panel_toolbox {
  float: right;
  list-style: none;
  line-height: 50px;
}

.panel .panel_toolbox > li {
  float: left;
  cursor: pointer;
}

.panel .panel_toolbox > li > a {
  width: 50px;
  height: 50px;
  padding: 5px;
  color: #C5C7CB;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
}

.panel .panel_toolbox > li > a:hover {
  background: #F5F7FA;
}

.panel .panel-heading {
  /* Actions */
}

.panel .panel-heading .actions {
  float: right;
  display: inline-block;
}

.panel .panel-heading .actions a {
  margin-left: 3px;
}

.panel .panel-heading .actions .btn {
  padding: 3px 9px;
  font-size: 13px;
  line-height: 1.5;
  background-color: #fff;
  border: 1px solid;
  border-radius: 50px;
}

.panel .panel-heading .actions .btn i {
  font-size: 12px;
}

.panel .panel-heading .actions .btn:hover {
  background: #f2f2f2;
}

/* Btn Circle */
.actions .btn.btn-circle {
  width: 28px;
  height: 28px;
  padding: 3px 7px;
  text-align: center;
}

.panel > .panel-heading .title {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
  margin-bottom: 10px;
}

.panel > .panel-heading .title .filter {
  width: 40%;
  float: right;
}

.panel > .panel-heading .title h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.panel > .panel-heading .title h2 small {
  margin-left: 10px;
}

.panel > .panel-heading .title span {
  color: #BDBDBD;
}

.bg-default {
  background-color: #f5f5f5;
}

.__wizard {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  /*progressbar connectors*/
  /*CONTAINER*/
}

.__wizard .progressbar {
  margin-bottom: 3em;
  overflow: hidden;
  /*contar el numero de pasos*/
  counter-reset: step;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.__wizard .progressbar li {
  list-style-type: none;
  color: #fff;
  text-transform: uppercase;
  width: 33.33%;
  position: relative;
}

.__wizard .progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 3.5em;
  height: 3.5em;
  line-height: 3.5em;
  display: block;
  font-size: 15px;
  color: #333;
  background-color: #fff;
  border: 1px solid #bfbfbf;
  margin: 0 auto 5px auto;
}

.__wizard .progressbar li:after {
  content: '';
  width: 100%;
  height: .2em;
  background-color: #bfbfbf;
  position: absolute;
  left: -50%;
  top: 40%;
  z-index: -1;
}

.__wizard .progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

.__wizard .progressbar li.active:before,
.__wizard .progressbar li.active:after {
  background-color: #1ABC9C;
  color: #fff;
  transition: all .3s;
}

.__wizard .wizard-container {
  /*centrar el contenedor de la imgagen previa*/
  width: 100%;
  height: auto;
}

.__wizard .wizard-container .step p {
  position: relative;
  margin: 2em auto 0;
  width: 90%;
  height: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 1.3em;
  color: #757575;
}

.__wizard .wizard-container .step:first-child {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* 
* FORM GROUP 
*/
.form-horizontal.text-left label.control-label {
  text-align: left;
}

.form-horizontal.form-condensed .form-group {
  margin-top: 0;
}

.has-error p.text-danger {
  font-size: 12px;
  text-transform: initial;
  text-align: initial;
}

legend {
  margin-bottom: 10px;
}

legend.pull-left {
  width: auto;
}

input.form-control,
select.form-control,
textarea.form-control,
button.form-control,
span.form-control {
  border-radius: 0;
}

.dataTables_wrapper .col-sm-6:last-child {
  text-align: right;
}

.dataTables_wrapper .col-sm-6:last-child .dataTables_length.form-group select {
  line-height: 1 !important;
}

.dataTables_wrapper .dataTables_filter {
  text-align: left !important;
}

.dataTables_wrapper .dataTables_filter label::after {
  font-family: 'Glyphicons Halflings';
  font-size: 20px;
  content: "\e003";
  width: 50px;
  height: 50px;
  position: relative;
  left: -30px;
  top: 3px;
}

.dataTables_wrapper .dataTables_filter label input {
  padding-right: 30px;
}

/* form starting stylings ------------------------------- */
/* .form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px
}

.form-horizontal .radio,
.form-horizontal .checkbox {
    min-height: 27px
}

.form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px
}

.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
    content: " ";
    display: table
}

.form-horizontal .form-group:after {
    clear: both
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        text-align: right;
        margin-bottom: 0;
        padding-top: 7px
    }
}

.form-horizontal .has-feedback .form-control-feedback {
    right: 15px
}

@media (min-width: 768px) {
    .form-horizontal .form-group-lg .control-label {
        padding-top: 11px;
        font-size: 18px
    }
}

@media (min-width: 768px) {
    .form-horizontal .form-group-sm .control-label {
        padding-top: 6px;
        font-size: 12px
    }
    } */
/* FORM CONTROL */
/* input[type="number"].form-control._form-control{
    text-align: right;
    } */
input[readonly], textarea[readonly] {
  background: transparent;
  width: 100%;
  height: auto;
  resize: none;
  overflow: hidden;
  border: none;
  word-wrap: break-word;
  word-break: break-all;
}

tfoot tr.form-table td textarea, tfoot tr.form-table td select, tfoot tr.form-table td label, tfoot tr.form-table td input, tfoot tr.form-table td input[type=checkbox] {
  display: table-cell;
  vertical-align: middle;
}

tfoot tr.form-table input[readonly], tfoot tr.form-table textarea[readonly] {
  font-size: medium !important;
  text-align: right;
}

tfoot tr.form-table label.control-table {
  text-align: center;
}

@media (min-width: 768px) {
  tfoot tr.form-table input[type=number].control-table {
    transition: all .2s ease-in-out;
  }
}

tfoot tr.form-table .control-table {
  background-color: #f5f5f5;
  padding: 10px;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  display: inline-block;
  border: none;
  line-height: 40px;
  font-weight: 300;
}

tfoot tr.form-table .control-table:focus {
  box-shadow: 0 0 3px .5px #009688;
}

tfoot tr.form-table.control-receive {
  height: 60px;
  max-width: 200px;
  text-align: center;
}

tfoot tr.form-table.control-receive:focus {
  font-size: 3em;
}

@media (max-width: 768px) {
  tfoot tr.form-table .checkbox.checkbox-mini .checkbox-material .check {
    width: 15px;
    height: 15px;
  }
  tfoot tr.form-table .checkbox.checkbox-mini .checkbox-material .check:before {
    margin-top: -7px;
    margin-left: 5px;
  }
  tfoot tr.form-table .control-table {
    padding: 3px;
    max-width: 150px;
    text-align: center;
  }
  tfoot tr.form-table td {
    padding-left: 0px !important;
    padding-right: 2px !important;
  }
  tfoot tr.form-table td:first-child {
    padding-left: 2px !important;
  }
}

/* PLACEHOLDERS */
/* Chrome/Opera/Safari/Edge */
.form-control::-webkit-input-placeholder {
  color: #555 !important;
  font-weight: inherit !important;
}

/* Firefox 18- */
.form-control::-moz-placeholder {
  color: #555 !important;
  font-weight: inherit !important;
}

/* IE 10+ */
.form-control:-ms-input-placeholder {
  color: #555 !important;
  font-weight: inherit !important;
}

@media (min-width: 998px) {
  .table thead .checkbox:hover label::after {
    content: 'Todo';
    position: absolute;
    bottom: -11px;
    left: -2px;
    font-size: 10px;
    text-align: center;
    text-transform: capitalize;
  }
}

/**
* BOOTSTRAP CHECKBOCK
*/
@media (max-width: 998px) {
  .checkbox label {
    display: block;
    padding-top: 10px;
  }
}

.well {
  background-color: #fff;
  border-radius: 0;
}

.__widgets {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

@media (max-width: 991px) {
  .__widgets {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

.__widgets.__charts {
  background-color: white;
}

.__widgets.__charts .__tile {
  margin: 0;
  padding: .5em 1em;
}

.__widgets .__tile {
  background-color: white;
  font-size: 1.2em;
  margin-right: 10px;
  padding: .5em 3em .5em 1.3em;
  position: relative;
  width: 25%;
}

.__widgets .__tile:last-child {
  margin-right: 0;
}

@media screen and (max-width: 991px) {
  .__widgets .__tile {
    margin-right: 0px;
    margin-bottom: 10px;
    width: 47%;
  }
}

@media (max-width: 768px) {
  .__widgets .__tile {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .__widgets .__tile {
    width: 100%;
  }
}

.__widgets .__tile .icon {
  color: #BAB8B8;
  font-size: 4em;
  position: absolute;
  right: .3em;
  z-index: 1;
}

.__widgets .__tile .icon i {
  display: block;
}

.__widgets .__tile .count {
  font-size: 3em;
  font-weight: bold;
}

.__widgets .__tile .count,
.__widgets .__tile h3,
.__widgets .__tile p {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 5;
}

.chart-legend {
  margin-top: 10px;
  display: inline-block;
}

.chart-legend li {
  list-style: none;
  margin-left: 20px;
}

.chart-legend li span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

/*MINIGRAFICOS*/
.sparkline {
  width: 100%;
  display: block;
  overflow-x: hidden;
}

.sparkline canvas {
  float: right;
}

/* PROFILE */
.profile {
  width: 100%;
}

.profile h4 {
  font-size: 2em;
}

.profile ul li {
  list-style: none;
  margin-bottom: 5px;
}

.profile ul li span {
  margin-right: 5px;
}

.__container-flex-grid {
  width: 100%;
  margin: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.__container-flex-grid .__item-flex-grid {
  background-color: #fff;
  width: calc((100%) / 1);
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  padding: .5em;
  margin-bottom: 5px;
  min-height: 100px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 480px) {
  .__container-flex-grid .__item-flex-grid {
    width: calc((100% - 10px) / 2);
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .__container-flex-grid .__item-flex-grid {
    width: calc((100% - 20px) / 3);
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .__container-flex-grid .__item-flex-grid {
    width: calc((100% - 30px) / 4);
    margin-bottom: 10px;
  }
}

.__select-data-content .__heading .__title {
  font-weight: bold;
}

.__select-data-content .__heading, .__select-data-content .__body {
  white-space: normal;
}

.__select-data-content .__body {
  font-size: .8em;
}

/* RIBBON  */
.ribbon-container {
  position: relative;
}

.ribbon-container .ribbon-wrapper {
  position: absolute;
  overflow: hidden;
  width: 85px;
  height: 88px;
  top: -3px;
  right: -3px;
}

.ribbon-container.ribbon-primary .ribbon {
  background-color: #5b90bf;
}

.ribbon-container .ribbon {
  position: relative;
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  line-height: 20px;
  background-color: #555;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.ribbon-container.ribbon-primary .ribbon:after, .ribbon-container.ribbon-primary .ribbon:before {
  border-top: 2px solid #5b90bf;
}

.ribbon-container .ribbon:before {
  left: 0;
  bottom: -1px;
}

.ribbon-container .ribbon:before {
  right: 0;
}

.ribbon-container .ribbon:after, .ribbon-container .ribbon:before {
  position: absolute;
  content: " ";
  line-height: 0;
  border-top: 2px solid #555;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}

ul.msg_list li {
  background: #f7f7f7;
  padding: 5px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 6px 6px 0;
  width: 96% !important;
}

ul.msg_list li:last-child {
  margin-bottom: 6px;
  padding: 10px;
}

ul.msg_list li a {
  padding: 3px 5px !important;
}

ul.msg_list li a .image img {
  border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  float: left;
  margin-right: 10px;
  width: 11%;
}

ul.msg_list li a .time {
  font-size: 11px;
  font-style: italic;
  font-weight: bold;
  position: absolute;
  right: 35px;
}

ul.msg_list li a .message {
  display: block !important;
  font-size: 11px;
}

.info-number .badge {
  font-size: 10px;
  font-weight: normal;
  line-height: 13px;
  padding: 2px 6px;
  position: absolute;
  right: 2px;
  top: 8px;
}

ul.to_do {
  padding: 0;
}

ul.to_do li {
  background: #f3f3f3;
  border-radius: 3px;
  position: relative;
  padding: 7px;
  margin-bottom: 5px;
  list-style: none;
}

ul.to_do p {
  margin: 0;
}

.dashboard-widget {
  background: #f6f6f6;
  border-top: 5px solid #79C3DF;
  border-radius: 3px;
  padding: 5px 10px 10px;
}

.dashboard-widget .dashboard-widget-title {
  font-weight: normal;
  border-bottom: 1px solid #c1cdcd;
  margin: 0 0 10px 0;
  padding-bottom: 5px;
  padding-left: 40px;
  line-height: 30px;
}

.dashboard-widget .dashboard-widget-title i {
  font-size: 100%;
  margin-left: -35px;
  margin-right: 10px;
  color: #33a1c9;
  padding: 3px 6px;
  border: 1px solid #abd9ea;
  border-radius: 5px;
  background: #fff;
}

ul.quick-list {
  width: 45%;
  padding-left: 0;
  display: inline-block;
}

ul.quick-list li {
  padding-left: 10px;
  list-style: none;
  margin: 0;
  padding-bottom: 6px;
  padding-top: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

ul.quick-list li i {
  padding-right: 10px;
  color: #757679;
}

.dashboard-widget-content {
  padding-top: 9px;
}

.dashboard-widget-content .sidebar-widget {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  background: #fff;
  border: 1px solid #abd9ea;
  border-radius: 5px;
  text-align: center;
  float: right;
  padding: 2px;
  margin-top: 10px;
}

.widget_summary {
  width: 100%;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.widget_summary .w_left {
  float: left;
  text-align: left;
}

.widget_summary .w_center {
  float: left;
}

.widget_summary .w_right {
  float: left;
  text-align: right;
}

.widget_summary .w_right span {
  font-size: 20px;
}

.w_20 {
  width: 20%;
}

.w_25 {
  width: 25%;
}

.w_55 {
  width: 55%;
}

h5.graph_title {
  text-align: left;
  margin-left: 10px;
}

h5.graph_title i {
  margin-right: 10px;
  font-size: 17px;
}

span.right {
  float: right;
  font-size: 14px !important;
}

.tile_info a {
  text-overflow: ellipsis;
}

.sidebar-footer {
  bottom: 0px;
  clear: both;
  display: block;
  padding: 5px 0 0 0;
  position: fixed;
  width: 230px;
  z-index: 1000;
  background: #2A3F54;
}

.sidebar-footer a {
  padding: 7px 0 3px;
  text-align: center;
  width: 25%;
  font-size: 17px;
  display: block;
  float: left;
  background: #172D44;
}

.sidebar-footer a:hover {
  background: #425567;
}

.tile_count {
  margin-bottom: 20px;
  margin-top: 20px;
}

.tile_count div:first-child .left {
  border: 0;
}

.tile_count .tile_stats_count {
  border-left: 0px solid #333;
  padding: 0;
}

.tile_stats_count .left {
  width: 15%;
  float: left;
  height: 65px;
  border-left: 2px solid #ADB2B5;
  margin-top: 10px;
}

.tile_stats_count .right {
  padding-left: 10px;
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tile_stats_count .right span {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tile_stats_count .count {
  font-size: 40px;
  line-height: 47px;
  font-weight: 600;
}

.tile_stats_count .count small {
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
}

.count_bottom i {
  width: 12px;
}

.dashboard_graph {
  background: #fff;
  padding: 7px 10px;
}

.dashboard_graph .col-md-9, .dashboard_graph .col-md-3 {
  padding: 0;
}

a.user-profile {
  color: #5E6974 !important;
}

.user-profile img {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  margin-right: 10px;
}

ul.top_profiles {
  height: 330px;
  width: 100%;
}

ul.top_profiles li {
  margin: 0;
  padding: 3px 5px;
}

ul.top_profiles li:nth-child(odd) {
  background-color: #eee;
}

.media .profile_thumb {
  border: 1px solid;
  width: 50px;
  height: 50px;
  margin: 5px 10px 5px 0;
  border-radius: 50%;
  padding: 9px 12px;
}

.media .profile_thumb i {
  font-size: 30px;
}

.media .date {
  background: #ccc;
  width: 52px;
  margin-right: 10px;
  border-radius: 10px;
  padding: 5px;
}

.media .date .month {
  margin: 0;
  text-align: center;
  color: #fff;
}

.media .date .day {
  text-align: center;
  color: #fff;
  font-size: 27px;
  margin: 0;
  line-height: 27px;
  font-weight: bold;
}

.event .media-body a.title {
  font-weight: bold;
}

.event .media-body p {
  margin-bottom: 0;
}

h4.graph_title {
  margin: 7px;
  text-align: center;
}

/**
 * CONTACT CHIP
 */
.contact-chip {
  display: inline-block;
  padding: 0;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  margin: 0 2px 2px 0;
  max-width: 500px;
}

.contact-chip-img {
  display: inline-block;
  background-color: #9E9E9E;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  color: #fff;
  float: left;
}

.contact-chip-img.contact-chip-role-superadmin {
  background-color: #00a9e0;
}

.contact-chip-img.contact-chip-role-admin {
  background-color: #954B97;
}

.contact-chip-img.contact-chip-role-editor {
  background-color: #5bc500;
}

.contact-chip-img.contact-chip-role-user {
  background-color: #e9426d;
}

.contact-chip-body {
  text-align: left;
  padding: 5px;
  position: relative;
  height: auto;
  width: auto;
  line-height: normal;
  margin-left: 50px;
}

.contact-chip-body .contact-title {
  font-weight: bold;
}

.contact-chip-body .contact-time {
  margin-top: 3px;
  display: block;
  font-size: 12px;
}

.contact-chip-body .contact-time i {
  font-size: 12px;
}

.contact-chip-body .contact-username {
  line-height: 50px;
}

.contact-chip-sm {
  height: auto;
}

.contact-chip-sm .contact-chip-img {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}

.contact-chip-sm .contact-chip-body {
  padding: 0 5px;
  margin-left: 30px;
  height: 30px;
  display: block;
}

.contact-chip-sm .contact-chip-body .contact-time {
  margin-top: 3px;
  font-size: 10px;
  display: block;
  height: auto;
}

.contact-chip-sm .contact-chip-body .contact-time i {
  font-size: 10px;
}

.contact-chip-sm .contact-chip-body .contact-username {
  line-height: 30px;
}

/****
 *
 */
ul.stats-overview {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ul.stats-overview li {
  display: inline-block;
  text-align: center;
  padding: 0 15px;
  width: 100%;
  font-size: 14px;
  border-right: 1px solid #e8e8e8;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

ul.stats-overview li:last-child {
  border-right: 0;
}

ul.stats-overview li .name {
  font-size: 12px;
}

ul.stats-overview li .value {
  font-size: 14px;
  font-weight: bold;
  display: block;
}

ul.stats-overview li:first-child {
  padding-left: 0;
}

ul.project_files li {
  margin-bottom: 5px;
}

ul.project_files li a i {
  width: 20px;
}

p.title {
  font-weight: bold;
  margin-bottom: 0;
}

span.date {
  font-size: 12px;
}

span.date, span.date i {
  line-height: 12px;
  display: inline-block;
  vertical-align: middle;
  font-weight: 300;
  color: #777777;
}

span.date i {
  font-size: 12.8px;
}

/**
  * Steps State
  */
.step-state {
  padding: 0px;
  background: #eee;
  list-style: none;
  overflow: hidden;
  margin: 0;
  float: right;
}

.step-state > li + li:before {
  padding: 0;
}

.step-state li {
  float: left;
}

@media screen and (max-width: 668px) {
  .step-state li {
    display: none;
  }
  .step-state li.active {
    display: block;
    float: right;
    padding-right: 30px;
  }
}

.step-state li.active a {
  background: #9E9E9E;
  color: #fff;
}

.step-state li.active a:after {
  border-left: 30px solid #9E9E9E;
}

.step-state li a {
  color: #9e9e9e;
  cursor: default;
  text-decoration: none;
  padding: 10px 5px 10px 45px;
  position: relative;
  display: block;
  float: left;
}

.step-state li a:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid #eee;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 100%;
  z-index: 2;
}

.step-state li a:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid #ffffff;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: 1px;
  left: 100%;
  z-index: 1;
}

.step-state li:first-child a {
  width: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.step-state li:first-child a:after {
  border-left-color: #eee !important;
}

.step-state li:last-child a {
  padding-right: 0px;
  padding-left: 30px;
  background-color: #eee !important;
}

.hidden {
  transition: all 10s ease;
}

/* MIN HEIGHT VH */
.min-height-25 {
  min-height: 25vh;
}

.min-height-50 {
  min-height: 50vh;
}

.min-height-60 {
  min-height: 60vh;
}

.min-height-70 {
  min-height: 70vh;
}

.min-height-80 {
  min-height: 80vh;
}

.min-height-90 {
  min-height: 90vh;
}

.min-height-100 {
  min-height: 100vh;
}

/* TEXT TRUNCATE */
.text-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text-truncate.multiline {
  display: -webkit-box;
  max-height: 30px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

/* TEXT ALIGN MIDDLE */
.text-middle {
  vertical-align: middle;
}

.text-middle > tbody > tr > td {
  vertical-align: middle !important;
}

.row {
  margin-right: -10px;
  margin-left: -10px;
}

/* ROW */
@media screen and (max-width: 768px) {
  .row-xs {
    margin-right: -10px;
    margin-left: -10px;
  }
}

@media screen and (max-width: 768px) {
  .row-sm {
    margin-right: -10px;
    margin-left: -10px;
  }
}

@media screen and (max-width: 768px) {
  .row-md {
    margin-right: -10px;
    margin-left: -10px;
  }
}

@media screen and (max-width: 768px) {
  .row-lg {
    margin-right: -10px;
    margin-left: -10px;
  }
}

@media screen and (min-width: 998px) {
  .row-left {
    margin-left: -10px;
  }
}

/*
 * Center Block Absolute
 */
.center-block-absolute {
  width: 100%;
  margin: auto;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 15px;
}

.center-block-absolute.action {
  cursor: pointer;
  color: #9E9E9E;
}

.center-block-absolute.action:hover {
  color: #5e5e5e;
}

.center-block-absolute.action:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.loader-ajax {
  position: relative;
}

.loader-ajax::before {
  content: '';
  text-align: center;
  display: block;
  line-height: 30;
  font-size: 30px;
  font-weight: 400;
  position: fixed;
  color: rgba(255, 255, 255, 0.84);
  background-color: rgba(0, 0, 0, 0.01);
  width: 100%;
  height: 100%;
  z-index: 2000;
}

.loader-ajax::after {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  z-index: 2000;
  border: 4px solid rgba(255, 255, 255, 0.84);
  border-top-color: #555;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1.1s linear infinite;
          animation: spin 1.1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.list-group-item-right,
.list-group-item > .pull-right {
  padding-left: 10px;
}

.list-group-item-left,
.list-group-item > .pull-left {
  padding-right: 10px;
}

.list-group-item-left, .list-group-item-right, .list-group-item-body {
  display: table-cell;
  vertical-align: top;
}

.list-group-item-middle {
  vertical-align: middle;
}

.list-group-item-bottom {
  vertical-align: bottom;
}

.list-group-item-heading {
  margin-top: 0;
  margin-bottom: 5px;
}

.list-group-item-body {
  width: 10000px;
}

.list-group-item-object {
  display: block;
}

.contact-list tr td {
  padding: 0px !important;
}

.contact-list .media {
  overflow: inherit;
  position: relative;
  padding: .8rem;
}

.contact-list .media a {
  text-decoration: none;
}

.contact-list .media .media-left {
  padding-right: 16px;
}

.contact-list .media .media-left .media-object {
  min-height: 56px;
  display: inline-block;
}

.contact-list .media .media-left .media-object i, .contact-list .media .media-left .media-object span {
  display: block;
  background: rgba(0, 0, 0, 0.25);
  text-align: center;
  line-height: 56px;
  color: white;
}

.contact-list .media .media-left .media-object img, .contact-list .media .media-left .media-object i, .contact-list .media .media-left .media-object span {
  width: 56px;
  height: 56px;
  border-radius: 100%;
}

.contact-list .media .media-right.controls-action {
  min-width: 100px;
  text-align: right;
  padding: 0;
  font-size: 1px;
  letter-spacing: -1px;
}

.contact-list .media .media-right.controls-action > .btn-group, .contact-list .media .media-right.controls-action > a {
  margin: 0;
  display: inline-block;
  text-decoration: none;
  width: 20px;
  height: 20px;
  word-spacing: normal;
  letter-spacing: normal;
  white-space: normal;
}

.contact-list .media .media-right.controls-action > .btn-group i, .contact-list .media .media-right.controls-action > a i {
  font-size: 18px;
  color: #333;
  line-height: 20px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .contact-list .media .media-right.controls-action {
    display: none;
  }
}

.contact-list .media .media-body {
  position: relative;
  overflow: inherit;
}

.contact-list .media .media-body .media-heading, .contact-list .media .media-body .media-content {
  width: 100%;
}

.contact-list .media .media-body .media-content {
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #333;
}

.contact-list .media .media-body .media-content i {
  font-size: 15px;
  color: #333;
}

.contact-list .media:after {
  content: "";
  width: calc(100% - 70px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  float: right;
  margin-top: 10px;
}

.contact-list .media:last-child:after {
  content: "";
  border-bottom: 0;
}

.list-group.list-group-hover .list-group-item:hover {
  color: #555;
  text-decoration: none;
  background-color: #f5f5f5;
}

.mdb .list-group-item .row-picture-lg {
  width: 100px;
  height: auto;
}

.mdb .list-group-item .row-picture-lg img {
  width: 100% !important;
  height: auto !important;
}

.list-group-article .list-group-item {
  padding: 0;
  border: none;
  position: relative;
}

.list-group-article .list-group-item .row-picture, .list-group-article .list-group-item .row-content {
  display: inline-block;
}

.list-group-article .list-group-item .row-picture {
  margin: 0;
  margin-right: 5px;
}

.list-group-article .list-group-item .row-picture-lg {
  width: 100px;
  height: 100px;
}

.list-group-article .list-group-item .row-picture-lg img {
  width: 100%;
  max-height: 100%;
}

.list-group-article .list-group-item .row-content {
  position: absolute;
  width: calc(100% - 100px);
  height: 100%;
}

.list-group-article .list-group-item .row-content .row-stock {
  border: 0;
  bottom: 0;
  width: 100%;
  margin: 5px 0;
  position: absolute;
}

@media (max-width: 460px) {
  .modal.full-screen .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .modal.full-screen .modal-dialog .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
  }
}

.profile {
  min-height: 355px;
  display: inline-block;
}

@media screen and (max-width: 480px) {
  .profile {
    text-align: center;
  }
}

.profile img {
  margin: auto;
}

figcaption.ratings {
  margin-top: 20px;
}

figcaption.ratings a {
  color: #f1c40f;
  font-size: 11px;
}

figcaption.ratings a:hover {
  color: #f39c12;
  text-decoration: none;
}

.divider {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.emphasis {
  border-top: 4px solid transparent;
}

.emphasis:hover {
  border-top: 4px solid #1abc9c;
}

.emphasis h2 {
  margin-bottom: 0;
}

span.tags {
  background: #1abc9c;
  border-radius: 2px;
  color: #f5f5f5;
  font-weight: bold;
  padding: 2px 4px;
}

.alert-container-layout {
  bottom: 20px;
  right: 20px;
  position: fixed;
  width: 310px;
  height: auto;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  z-index: 10000000;
}

.alert-container-layout .alert.alert-flash {
  position: relative;
  padding: 0;
  width: auto;
  border-radius: 0px;
  margin-bottom: 10px;
  background-color: #eceff1;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.alert-container-layout .alert.alert-flash.alert-information {
  background-color: #b2dfdb;
}

.alert-container-layout .alert.alert-flash.alert-danger {
  background-color: #ffcdd2;
}

.alert-container-layout .alert.alert-flash.alert-warning {
  background-color: #ffe0b2;
}

.alert-container-layout .alert.alert-flash.alert-success {
  background-color: #c8e6c9;
}

.alert-container-layout .alert.alert-flash.alert-confirm {
  background-color: #81c784;
}

@media (max-width: 768px) {
  .alert-container-layout .alert.alert-flash {
    position: fixed;
    margin: auto;
    z-index: 500;
    margin: auto;
    z-index: 500;
    width: auto;
    bottom: .5em;
    right: .5em;
    left: .5em;
  }
}

.alert-container-layout .alert.alert-flash .alert-container {
  min-height: 65px;
  padding: 15px 15px;
  border: rgba(0, 0, 0, 0.05) 1px solid;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}

.alert-container-layout .alert.alert-flash .alert-container i {
  float: left;
  height: 30px;
  width: 30px;
  display: inline-block;
  margin-top: 3px;
  font-size: 24px;
}

.alert-container-layout .alert.alert-flash .alert-container i.text-warning, .alert-container-layout .alert.alert-flash .alert-container i.text-error, .alert-container-layout .alert.alert-flash .alert-container i.text-info, .alert-container-layout .alert.alert-flash .alert-container i.text-success {
  color: #fff;
}

.alert-container-layout .alert.alert-flash .alert-container .alert-container-message {
  margin-left: 40px;
  font-size: 13px;
  color: #444;
  font-weight: 400;
  line-height: normal;
}

.alert-container-layout .alert.alert-flash .alert-container .alert-container-message a {
  font-weight: 500;
  color: #666;
}

.alert-container-layout .alert.alert-flash .alert-container .alert-container-message a:hover, .alert-container-layout .alert.alert-flash .alert-container .alert-container-message a:focus {
  color: #333;
  text-decoration: none;
}

.alert-container-layout .alert.alert-flash .alert-container .alert-container-message span {
  display: block;
  margin-top: 3px;
  font-size: 12px;
  color: #666;
}

.alert-container-layout .alert.alert-flash .close {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 10px;
  height: 10px;
  opacity: 0.5;
  cursor: pointer;
}

@-webkit-keyframes example {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}

@keyframes example {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}

ul.dropdown-cart {
  min-width: 250px;
}

ul.dropdown-cart .item {
  display: block;
  padding: 3px 10px;
  margin: 3px 0;
  width: 100%;
  height: 56px;
}

ul.dropdown-cart .item:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

ul.dropdown-cart .item .item-left {
  float: left;
}

ul.dropdown-cart .item .item-left img, ul.dropdown-cart .item .item-left .more-items {
  width: 50px;
  height: 50px;
  border-radius: 6px;
  text-align: center;
}

ul.dropdown-cart .item .item-left img, ul.dropdown-cart .item .item-left .item-info, ul.dropdown-cart .item .item-left .more-items {
  float: left;
  line-height: 50px;
}

ul.dropdown-cart .item .item-left .more-items {
  background-color: #eeeeee;
}

ul.dropdown-cart .item .item-left .item-info {
  margin-left: 10px;
  width: calc(100% - 60px);
  font-size: smaller;
}

ul.dropdown-cart .item .item-left .item-info-quantity {
  color: #00a9e0 !important;
}

ul.dropdown-cart .item .item-info span, ul.dropdown-cart .item .item-info a, ul.dropdown-cart .item .item-right span {
  display: block;
  color: #777;
  line-height: 20px;
}

ul.dropdown-cart .item .item-right {
  float: right;
  position: absolute;
  right: 10px;
}

ul.dropdown-cart .item .item-right .btn {
  line-height: 56px;
}

ul.dropdown-cart .item:hover {
  background-color: #f3f3f3;
}

ul.dropdown-cart .item:hover .more-items {
  background-color: #ffffff;
}
