//COLORES MOVISTAR
$surfie-green:    #10628a; //Surfie Green
$eastern-blue:    #119cbf; //Eastern Blue
$robins-egg-blue: #00c6d7; //Robins Egg Blue
$atlantis:        #a8ce37; //Atlantis
$limeade:         #48C400; //Limeade
$gamboge:         #e5a60d; //Gamboge
$rose:            #e4007b; //Rose
$rose2:           #DB0080; //Rose
$porcelain:       #F7F8F9; //Porcelain
$white:           #FFFFFF; //White




// NUEVO DISEÑO
$morado-movistar : #954B97;
$amarillo-movistar: #e5a60d;
$verde-movistar: #5bc500;
$celeste-movistar: #00a9e0;
$fucsia-movistar: #e9426d;
$gray: #eeeeee;


$color-default-movistar: #9E9E9E;
$color-primary-movistar: $celeste-movistar;
$color-secondary-movistar: $verde-movistar;
$color-tertiary-movistar: $fucsia-movistar;



$color-menu-movistar: $gray;

$color-text-menu-movistar: #757575;