.alert-container-layout {
  bottom: 20px;
  right: 20px;
  position: fixed;
  width: 310px;
  height: auto;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  z-index: 10000000;

  .alert.alert-flash {

    position: relative;
    padding: 0;
    width: auto;
    border-radius: 0px;
    margin-bottom: 10px;
    background-color: #eceff1;

    &.alert-information {
      background-color: #b2dfdb;
    }
    &.alert-danger {
      background-color: #ffcdd2;
    }
    &.alert-warning {
      background-color: #ffe0b2;
    }
    &.alert-success {
      background-color: #c8e6c9;
    }
    &.alert-confirm {
      background-color: #81c784;
    }

    animation-name: example;
    animation-duration: 4s;

    @media (max-width: 768px) {
      position: fixed;
      margin: auto;
      z-index: 500;
      margin: auto;
      z-index: 500;
      width: auto;
      bottom: .5em;
      right: .5em;
      left: .5em;
    }

    .alert-container {
      min-height: 65px;
      padding: 15px 15px;
      border: rgba(0, 0, 0, 0.05) 1px solid;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);

      i {
        float: left;
        height: 30px;
        width: 30px;
        display: inline-block;
        margin-top: 3px;
        font-size: 24px;

        &.text-warning,
        &.text-error,
        &.text-info,
        &.text-success {
          color: #fff;
        }
      }
      .alert-container-message {
        margin-left: 40px;
        font-size: 13px;
        color: #444;
        font-weight: 400;
        line-height: normal;

        a {
          font-weight: 500;
          color: #666;

          &:hover,
          &:focus {
            color: #333;
            text-decoration: none;
          }
        }

        span{
          display: block;
          margin-top: 3px;
          font-size: 12px;
          color: #666;
        }
      }
    }

    .close {
      position: absolute;
      top: 4px;
      right: 4px;
      width: 10px;
      height: 10px;
      opacity: 0.5;
      cursor: pointer;
    }
  }
}

@keyframes example {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}