/*********************************
* PALETAS DE COLORES
*********************************/

$color1: #1ABC9C; //Mountain Meadow
$color2: #FFFFFF; //White
$color3: #34495E; //Pickled Bluewood
$color4: #D6DBDF; //Iron
$color5: #3B3C3D; //Cape Cod
$color6: #25373D; //Ebony Clay

@import '_colours_movistar';

/*OTROS COLORES*/
$boulder: #757575; //Boulder
$blabaster: #F7F7F7; //Alabaster
$athens-gray: #E6E9ED; //Athens Gray
$shuttle-gray: #566473; //Shuttle Gray
$slate-gray: #74818E; //Slate Gray

$grey-darken-1: #757575;

/*Variables para textos*/
$primary-text-color: $color1;
$secundary-text-color: $surfie-green;
$form-text-color: $grey-darken-1;
$form-text-color-active: $color1;

$title-color: #73879C;
$subtitle-color: #777;

/*
* lighten (color, %)
* darken (color, %)
*/

/*MIXINS*/
/*Centrado absoluto*/
@mixin centrado-absoluto() {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/*
 *  SCROLLBAR 
 */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  //border-radius: 2px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  //border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #ccc;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $blabaster !important;
  //#f0f3f4 body
  //#f6f8f8 header
  //1px solid #dee5e7 border-header
}

/*ar-container*/
.__container {

  .headboard {
    position: relative;
    width: 100%;
    height: auto;
    display: inline-block;
    margin-bottom: 20px;
    background-color: $color-menu-movistar;
    padding: 0;
    //box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);

    .navbar {
      margin: 0;
      background-color: transparent;
      color: #777;
    }

  }
}

/**********************************
* CONTAINER POSITION FOTTER
***********************************/

.__container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;

  footer {
    padding: 5px 10px;
    position: relative;
    align-self: flex-end;
    background-color: #34495E;
    color: #fff;
    min-height: 60px;
    width: 100%;
    @media screen and (min-width: 768px) {
      margin-left: 60px

    }
    p {
      margin: auto;
      display: inline-block;
      margin-right: 60px;
      bottom: 5px;
      position: absolute;

    }

    /*AFFIX BACK TO TOP*/
    #top-link-block {
      // margin: 5px 0 0 10px;
      right: 10px;

      height: 50px;
      width: 50px;
      display: inline-block;
      background-color: rgba($color1, .8);
      a {
        align-items: center;
        display: block;
        text-align: center;
        line-height: 50px;
        color: $white;
        font-size: 1.5em;
        text-decoration: none;

      }
      &:hover {
        background-color: $color1;
      }
      &:active {
        background-color: $color1;
        transform: scale(.95);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
      }

      &.affix-top {
        position: absolute; /* allows it to "slide" up into view */
        bottom: -82px;
      }
      &.affix {
        display: block;
        position: absolute !important;
      }
    }

  }
}

/**************************
 * ACTIVE - INACTIVE
 */

tr.inactive {
  background-color: #f5f5f5;

  td, a, i {
    color: #ccc !important;
  }
}



