$color-default: #e6e6e6;
$color-primary: #286090;
$color-success: #449d44;
$color-info:    #31b0d5;
$color-warning: #ec971f;
$color-danger:  #c9302c;

/*BOTTON CIRCLE*/

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0 !important;
  font-size: 12px;
  border-radius: 15px;
  // color: $color2 !important;
  // margin-bottom: 5px;
  vertical-align: middle;
  &.btn-default:hover {
    color: #333 !important;
    background-color: $color-default !important;
    border-color: darken($color-default, 5%) !important;
  }
  &.btn-primary:hover {
    color: #fff !important;
    background-color: $color-primary !important;
    border-color: darken($color-primary, 5%) !important;
  }
  &.btn-success:hover {
    color: #fff !important;
    background-color: $color-success !important;
    border-color: darken($color-success, 5%) !important;
  }
  &.btn-info:hover {
    color: #fff !important;
    background-color: $color-info !important;
    border-color: darken($color-info, 5%) !important;
  }
  &.btn-warning:hover {
    color: #fff !important;
    background-color: $color-warning !important;
    border-color: darken($color-warning, 5%) !important;
  }
  &.btn-danger:hover {
    color: #fff !important;
    background-color: $color-danger !important;
    border-color: darken($color-danger, 5%) !important;
  }
  &.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px !important;
    font-size: 18px;
    border-radius: 25px;
  }
  &.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px !important;
    font-size: 24px;
    border-radius: 35px;
  }
}


/*BUTTON ROUNDER*/
//
//.btn-rounded {
//  width: 50px !important;
//  height: 50px !important;
//  text-align: center !important;
//  padding: 10px !important;
//  font-size: 20px !important;
//  border-radius: 6px;
//    // color: #fff !important;
//    margin-bottom: 5px;
//    // &.btn-default:hover {
//    //     color: #333 !important;
//    //     background-color: #e6e6e6 !important;
//    //     border-color: #adadad !important;
//    // }
//    // &.btn-primary:hover {
//    //     color: #fff !important;
//    //     background-color: #286090 !important;
//    //     border-color: #204d74 !important
//    // }
//    // &.btn-success:hover {
//    //     color: #fff !important;
//    //     background-color: #449d44 !important;
//    //     border-color: #398439 !important
//    // }
//    // &.btn-info:hover {
//    //     color: #fff !important;
//    //     background-color: #31b0d5 !important;
//    //     border-color: #269abc !important
//    // }
//    // &.btn-warning:hover {
//    //     color: #fff !important;
//    //     background-color: #ec971f !important;
//    //     border-color: #d58512 !important
//    // }
//    // &.btn-danger:hover {
//    //     color: #fff !important;
//    //     background-color: #c9302c !important;
//    //     border-color: #ac2925 !important
//    // }
//  }

//BUTTON OPTION TABLES
.btn-option-table {
  display: flex;
  font-size: 1.4em;
  list-style: none;
  margin: 0 auto;
  width: 123px;
  li {
    border-radius: 3px;
    flex: auto;
    margin-right: 8px;
    text-align: center;
    &:last-child {
      margin-right: 0;
    }
    a {
      color: #fff;
      display: block;
      line-height: 1;
      max-width: 40px;
      max-height: 40px;
      padding: 10px;
    }
  }
  .show {
    background-color: #31b0d5;
    &:hover {
      background-color: darken(#31b0d5, 5%);
    }
  }
  .edit {
    background-color: #ec971f;
    &:hover {
      background-color: darken(#ec971f, 5%);
    }
  }
  .delete {
    background-color: #c9302c;
    &:hover {
      background-color: darken(#c9302c, 5%);
    }
  }
  .show,
  .edit,
  .delete {
    &:active {
      transform: scale(.95);
    }
  }
}




/*Buton group en construccion*/
input.button {
  border: 0 !important;
}

.__button-group {
 display: flex;
 justify-content: space-between;
 .button {
  $color-first-btn: #ccc;
  $color-last-btn: blue;
  display: inline-block;
  line-height: 3em;
  padding: 0 1.5em;
  color: #fff;
  text-transform: uppercase;
  border-radius: .2em;
  font-size: 1.3em;
  &:first-child {
    background: $color-first-btn;
    &:hover {
      background: darken($color-first-btn, 5);
    }
  }
  &:last-child {
    background: $color-last-btn;
    &:hover {
      background: darken($color-last-btn, 5);
    }
  }
  &:active {
    transform: scale(.95);
  }
}
}



// Button Fab - Fab mini
// Material Desing Style 
// font
.btn.btn-fab span{
  line-height: 2.2;
} 
.btn.btn-fab span,
.btn.btn-fab-mini span,
.bntn.btn-fab-xs span{
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
} 

.btn.btn-fab-mini span{
  font-size: .8em;
  width: 1em  ;
  height: 1em ;
  line-height: 1;
}




/* BUTTON APPS */
.btn.btn-app {
  position: relative;
  padding: 15px 5px;
  margin: 0 0 10px 10px;
  min-width: 80px;
  height: 60px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-align: center;
  color: #666;
  border: 1px solid #ddd;
  background-color: #fafafa;
  font-size: 12px;
  text-transform: inherit;
  font-weight: normal;

  > .fa,  > .glyphicon,  > .ion,  > .material-icons {
    font-size: 20px;
    display: block;
  }
  
  &:hover {
    background: #f4f4f4;
    color: #444;
    border-color: #aaa;
  }
  

  &:active, &:focus {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }

  > .badge {
    position: absolute;
    top: -3px;
    right: -10px;
    font-size: 10px;
    font-weight: 400;
  }
}





/*
* BUTTON TOGGLE
*
*/

//.form-group label{
//
//  input[type=checkbox]{
//    display: none;
//    &:checked + .toggle {
//      background: rgba(teal, 0.5);
//      &:before {
//        left: 6em;
//        background: teal;
//      }
//    }
//  }
//
//  .toggle {
//    display: inline-block;
//    vertical-align: middle;
//    width: 12em;
//    height: 4.5em;
//    margin-left: auto;
//    margin-right: auto;
//    background: rgba(#eee, 0.5);
//    border-radius: 2.5em;
//    box-shadow: 0 0 0 2px rgba(238, 238, 238, 0.5);
//    transition: all 0.3s;
//    font-size: 4px;
//
//    &:before {
//      content: "";
//      display: block;
//      width: 6em;
//      height: 6em;
//      border-radius: 50%;
//      background: #eee;
//      position: relative;
//      left: 0;
//      transition: all 0.3s;
//      top: -.6em;
//    }
//  }
//}




.hidden-head{
  display: none;
}
