ul.dropdown-cart {
  min-width: 250px;

  .item {
    display: block;
    padding: 3px 10px;
    margin: 3px 0;
    width: 100%;
    height: 56px;

    &:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
    }

    .item-left {
      float: left;

      img, .more-items{
        width: 50px;
        height: 50px;
        border-radius: 6px;
        text-align: center;
      }

      img, .item-info, .more-items {
        float: left;
        line-height: 50px;
      }

      .more-items{
        background-color: #eeeeee;
      }

      .item-info {
        margin-left: 10px;
        width: calc(100% - 60px);
        font-size: smaller;

        &-quantity {
          color: $color-primary-movistar !important;
        }
      }
    }

    .item-info span, .item-info a, .item-right span {
      display: block;
      color: #777;
      line-height: 20px;
    }

    .item-right {
      float: right;
      position: absolute;
      right: 10px;

      .btn {
        line-height: 56px;
      }
    }




    &:hover {
      background-color: #f3f3f3;
      .more-items{
        background-color: #ffffff;
      }
    }
  }
}






