



/* 
* FORM GROUP 
*/
// .form-group{
//     label.control-label {
//         text-align: left;
//     }

//     p.text-danger{
//         font-size: 12px;
//     }
// }



.form-horizontal.text-left{
  label.control-label{
    text-align: left;
  }
}

.form-horizontal.form-condensed .form-group {
  margin-top: 0;

  div.form-control{
    //height: auto;
  }
}


.has-error p.text-danger {
  font-size: 12px;
  text-transform: initial;
  text-align: initial;
}



legend{
  margin-bottom: 10px;

  &.pull-left{
    width: auto;
  }
}