$step-width: 3.5em;
$step-active-color: #1ABC9C;
$step-inactive-color: #fff;
$step-text-color: #333;
$step-border-color: #ccc;
$darken: 5%;
.__wizard {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  .progressbar {
    margin-bottom: 3em;
    overflow: hidden;
    /*contar el numero de pasos*/
    counter-reset: step;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .progressbar li {
    list-style-type: none;
    color: $step-inactive-color;
    text-transform: uppercase;
    width: 33.33%;
    position: relative;
  }
  .progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: $step-width;
    height: $step-width;
    line-height: $step-width;
    display: block;
    font-size: 15px;
    color: $step-text-color;
    background-color: $step-inactive-color;
    border: 1px solid darken($step-border-color, $darken);
    margin: 0 auto 5px auto;
    //        border-radius: 50%;
  }
  /*progressbar connectors*/
  .progressbar li:after {
    content: '';
    width: 100%;
    height: .2em;
    background-color: darken($step-border-color, $darken);
    position: absolute;
    left: -50%;
    top: 40%;
    z-index: -1;
  }
  .progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
  }
  .progressbar li.active:before,
  .progressbar li.active:after {
    background-color: $step-active-color;
    color: $step-inactive-color;
    transition: all .3s;
  }
  /*CONTAINER*/
  .wizard-container {
    /*centrar el contenedor de la imgagen previa*/
    width: 100%;
    height: auto;
    .step {
      p {
        position: relative;
        margin: 2em auto 0;
        width: 90%;
        height: auto;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 1.3em;
        color: $boulder;
      }
      &:first-child {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }
  }
}