
input,
select,
textarea,
button,
span {
  &.form-control {
    border-radius: 0;
  }
}

// a,
// input,
// button {
// 	&.btn{	
// 		border-radius: 2px;
// 	}
// }

.dataTables_wrapper {
  .col-sm-6:last-child {
    text-align: right;
    .dataTables_length {

      &.form-group {
        select {
          line-height: 1 !important;
        }
      }
    }
  }
}

.dataTables_wrapper {
  .dataTables_filter {
    text-align: left !important;
    label {
      // width: 100% !important;
      &::after {
        font-family: 'Glyphicons Halflings';
        font-size: 20px;
        content: "\e003";
        width: 50px;
        height: 50px;
        // background-color: red;
        position: relative;
        left: -30px;
        top: 3px;
      }
      input {
        padding-right: 30px;
      }
    }
  }
}

// div.dataTables_wrapper div.dataTables_length,
// div.dataTables_wrapper div.dataTables_filter, 
// div.dataTables_wrapper div.dataTables_info, 
// div.dataTables_wrapper div.dataTables_paginate{
//     @media screen and (max-width: 767px){
//         text-align: left !important;
//     }

// }

/* form starting stylings ------------------------------- */

// .__material {
//     position: relative;
//     margin-bottom: 45px;
//     input,
//     select {
//         font-size: 18px;
//         padding: 10px 10px 10px 0px;
//         display: block;
//         width: 100%;
//         border: none;
//         border-bottom: 1px solid rgba(#757575, .2);
//         background: none !important;
//     }
//     input:focus,
//     select:focus  {
//         outline: none !important;
//     }
//     input:focus{
//         border: none !important;
//     }

//     /* LABEL ======================================= */
//     label {
//         color: $form-text-color;
//         font-size: 18px;
//         font-weight: normal !important;
//         transition: .4s ease all;
//     }

//     input + label,
//     select + label{
//         position: absolute !important;
//         pointer-events: none;
//         display: block;
//         left: 0px !important;
//         top: 10px !important;
//     }

//     /* active state */
//     input:focus + label,
//     input:valid + label,
//     select:focus + label,
//     select:valid + label {
//         top: -20px !important;
//         font-size: 14px !important;
//         color: $form-text-color-active;
//     }
//     /* BOTTOM BARS ================================= */
//     .bar {
//         position: relative;
//         display: block;
//         width: 100%;
//     }
//     .bar:before,
//     .bar:after {
//         content: '';
//         height: 2px;
//         width: 0;
//         bottom: 1px;
//         position: absolute;
//         background: $form-text-color-active;
//         transition: 0.4s ease all;
//     }
//     .bar:before {
//         left: 50%;
//     }
//     .bar:after {
//         right: 50%;
//     }
//     /* active state */
//     input:focus ~ .bar:before,
//     input:focus ~ .bar:after {
//         width: 50%;
//     }
// }

// .__material.has-error{
//     label{ color: #a94442;
//     }
//     input,
//     select {
//         border-bottom-color:  #a94442;    
//     }
// }

// /* TOGGLE BUTTON */
// .__toggle-button {
//     display: none;
// }

// .__toggle-button + label {
//     display: block;
//     width: 12rem;
//     height: 6rem;
//     margin-left: auto;
//     margin-right: auto;
//     background: rgba(222, 43, 43, 0.5);
//     border-radius: 3rem;
//     box-shadow: 0 0 0 2px rgba(238, 238, 238, 0.5);
//     transition: all 0.3s;
// }

// .__toggle-button + label:before {
//     content: "";
//     display: block;
//     width: 6rem;
//     height: 6rem;
//     border-radius: 50%;
//     background: #DE2B2B;
//     position: relative;
//     left: 0;
//     transition: all 0.3s;
// }

// .__toggle-button:checked + label {
//     background: rgba(6, 148, 6, 0.5);
// }

// .__toggle-button:checked + label:before {
//     left: 6rem;
//     background: #069406;
// }

/* .form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px
}

.form-horizontal .radio,
.form-horizontal .checkbox {
    min-height: 27px
}

.form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px
}

.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
    content: " ";
    display: table
}

.form-horizontal .form-group:after {
    clear: both
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        text-align: right;
        margin-bottom: 0;
        padding-top: 7px
    }
}

.form-horizontal .has-feedback .form-control-feedback {
    right: 15px
}

@media (min-width: 768px) {
    .form-horizontal .form-group-lg .control-label {
        padding-top: 11px;
        font-size: 18px
    }
}

@media (min-width: 768px) {
    .form-horizontal .form-group-sm .control-label {
        padding-top: 6px;
        font-size: 12px
    }
    } */

/* FORM CONTROL */
// input.form-control._form-control, 
// select.form-control._form-control,
// textarea.form-control._form-control{
//     background-color: #f5f5f5;
//     vertical-align: middle;
//     border: 1px solid #ddd;
//     background-image: none !important;
//     padding: 0 7px;
//     margin-bottom: 0;

//     &:focus{
//         box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
//     }
// }

// input.form-control._form-control:focus, 
// select.form-control._form-control:focus,
// textarea.form-control._form-control:focus{
//     box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
// }

/* input[type="number"].form-control._form-control{
    text-align: right;
    } */

// input[type="color"].form-control._form-control{
//     padding: 0 !important;
//     border: 0;
// }
// textarea.form-control._form-control{
//     padding:7px;
// }   

input[readonly], textarea[readonly] {
  background: transparent;
  width: 100%;
  height: auto;
  resize: none;
  overflow: hidden;
  border: none;
  word-wrap: break-word;
  word-break: break-all;
}

tfoot tr.form-table {

  td {
    textarea, select, label, input, input[type=checkbox] {
      display: table-cell;
      vertical-align: middle;
    }
  }

  input[readonly], textarea[readonly] {
    font-size: medium !important;
    // font-weight: 400;
    text-align: right;
    // color: #777;
  }

  label.control-table {
    text-align: center;
  }

  input[type=number].control-table {
    @media (min-width: 768px) {
      transition: all .2s ease-in-out;
    }
  }

  .control-table {
    background-color: #f5f5f5;
    padding: 10px;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    display: inline-block;
    border: none;
    line-height: 40px;
    font-weight: 300;
    &:focus {
      box-shadow: 0 0 3px .5px #009688
    }
  }

  &.control-receive {
    height: 60px;
    max-width: 200px;
    text-align: center;
    &:focus {
      font-size: 3em;
    }
  }

  @media (max-width: 768px) {
    .checkbox.checkbox-mini .checkbox-material .check {
      width: 15px;
      height: 15px;
      &:before {
        margin-top: -7px;
        margin-left: 5px;
      }
    }

    .control-table {
      padding: 3px;
      max-width: 150px;
      text-align: center;
    }

    td {
      padding-left: 0px !important;
      padding-right: 2px !important;
      &:first-child {
        padding-left: 2px !important;
      }
    }
  }
}

/* PLACEHOLDERS */
/* Chrome/Opera/Safari/Edge */
.form-control::-webkit-input-placeholder {
  color: #555 !important;
  font-weight: inherit !important;
}

/* Firefox 18- */
.form-control::-moz-placeholder {
  color: #555 !important;
  font-weight: inherit !important;
}

/* IE 10+ */
.form-control:-ms-input-placeholder {
  color: #555 !important;
  font-weight: inherit !important;
}

.table thead .checkbox:hover {
  @media (min-width: 998px) {

    label::after {
      content: 'Todo';
      position: absolute;
      bottom: -11px;
      left: -2px;
      font-size: 10px;
      text-align: center;
      text-transform: capitalize;
    }
  }
}



/**
* BOOTSTRAP CHECKBOCK
*/

.checkbox label {
  @media (max-width: 998px) {
    display: block;
    padding-top: 10px;
  }
}
