//.list-group {
//
//	.list-group-item.item-detail{
//		display:flex;
//	}
//
//	a{
//		padding-top:10px !important;
//		padding-bottom: 10px !important;
//	}
//
//	.separator{
//		clear: both;
//		overflow: hidden;
//		//margin: 0 10px;
//        margin: 15px 0 0;
//		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
//	}
//}

.list-group {
  &-item {
    &-right,
    & > .pull-right {
      padding-left: 10px;
    }
    &-left,
    & > .pull-left {
      padding-right: 10px;
    }
    &-left,
    &-right,
    &-body {
      display: table-cell;
      vertical-align: top;
    }
    &-middle {
      vertical-align: middle;
    }
    &-bottom {
      vertical-align: bottom;
    }
    &-heading {
      margin-top: 0;
      margin-bottom: 5px;
    }
    &-body {
      width: 10000px;
    }

    &-object {
      display: block;
    }
  }
}

//.media {
//  margin-top: 15px;
//}
//.media:first-child {
//  margin-top: 0;
//}
//.media,
//.media-body {
//  zoom: 1;
//  overflow: hidden;
//}
//.media-object {
//  display: block;
//}
//.media-object.img-thumbnail {
//  max-width: none;
//}
//.media-right,
//.media > .pull-right {
//  padding-left: 10px;
//}
//.media-left,
//.media > .pull-left {
//  padding-right: 10px;
//}
//.media-left,
//.media-right,
//.media-body {
//  display: table-cell;
//  vertical-align: top;
//}
//.media-middle {
//  vertical-align: middle;
//}
//.media-bottom {
//  vertical-align: bottom;
//}
//.media-heading {
//  margin-top: 0;
//  margin-bottom: 5px;
//}
//.media-list {
//  padding-left: 0;
//  list-style: none;
//}

.contact-list tr td {
  padding: 0px !important;
}

.contact-list .media {
  a {
    text-decoration: none;
  }

  overflow: inherit;
  position: relative;
  padding: .8rem;
  .media-left {
    padding-right: 16px;
    .media-object {
      min-height: 56px;
      display: inline-block;
      i, span {
        display: block;
        background: rgba(0, 0, 0, 0.25);
        text-align: center;
        line-height: 56px;
        color: white;
      }
      img, i, span {
        width: 56px;
        height: 56px;
        border-radius: 100%;
      }
    }
  }

  .media-right.controls-action {
    min-width: 100px;
    text-align: right;
    padding: 0;
    font-size: 1px;
    letter-spacing: -1px;
    > .btn-group, > a {
      margin: 0;
      display: inline-block;
      text-decoration: none;
      width: 20px;
      height: 20px;
      word-spacing: normal;
      letter-spacing: normal;
      white-space: normal;

      i {
        font-size: 18px;
        color: #333;
        line-height: 20px;
        text-align: center;
      }

    }

    @media screen and (max-width: 480px) {
      display: none;
    }
  }

  .media-body {
    position: relative;
    overflow: inherit;
    .media-heading, .media-content {
      width: 100%;
    }

    .media-content {
      position: absolute;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: #333;
      i {
        font-size: 15px;
        color: #333;
      }
    }
  }

  &:after {
    content: "";
    width: calc(100% - 70px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    float: right;
    margin-top: 10px;
  }

  &:last-child:after {
    content: "";
    border-bottom: 0;
  }

}

.list-group.list-group-hover .list-group-item:hover {
  color: #555;
  text-decoration: none;
  background-color: #f5f5f5;
}

.list-group {

  .mdb &-item {

    .row-picture {

      &-lg {
        width: 100px;
        height: auto;

        img {
          width: 100% !important;
          height: auto !important;
        }
      }
    }
  }
}

.list-group {
  .list-group-article &-item {

    padding: 0;
    border: none;
    position: relative;

    .row-picture, .row-content {
      display: inline-block;
    }
    .row-picture {

      margin: 0;
      margin-right: 5px;

      &-lg {
        width: 100px;
        height: 100px;

        img {
          width: 100%;
          max-height: 100%;
        }
      }
    }

    .row-content {
      position: absolute;
      width: calc(100% - 100px);
      height: 100%;

      .row-stock {
        border: 0;
        bottom: 0;
        width: 100%;
        margin: 5px 0;
        position: absolute;
      }

    }

  }
}


