
.nav {

  &.nav-pills {
    li {

      border: none;
      border-right: 1px solid #ddd;
      margin: 0;

      &:last-child {
        border: none;
      }

      a {
        border-radius: 0;
        color: #555;
      }

      &.active {
        a {

          background-color: transparent;
          color: $color-primary-movistar;
        }
      }
    }

    &.tabs-flex {
      position: relative;
      li {

        border: none;

        &.active {
          a {
            background-color: transparent;
            box-shadow: 0 -2px 0 #41b000 inset;
            color: #777;
            // font-weight: 500;

          }
        }

        a {
          border-radius: 0;
        }
      }
      @media screen and (max-width: 768px) {
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        list-style: none;
        display: flex !important;

        li {
          flex: auto !important;
          text-align: center;
          &.active a {
            box-shadow: 0 -4px 0 #f7f7f7 inset;
          }

          a {
            padding-right: 0 !important;
            padding-left: 0 !important;
            border-radius: 0;
          }
        }
      }
    }
  }
}

@import "tabs";
