

/* *********  Tile stats  **************************** */

.tile-stats {
    position: relative;
    display: block;
    margin-bottom: 12px;
    border: 1px solid #E4E4E4;
    -webkit-border-radius: 5px;
    overflow: hidden;
    padding-bottom: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box;
    background: #FFF;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.tile-stats:hover .icon i,
.tile-stats:hover .icon span {
    animation-name: tansformAnimation;
    animation-duration: .5s;
    animation-iteration-count: 1;
    color: rgba(58, 58, 58, 0.41);
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    -webkit-animation-name: tansformAnimation;
    -webkit-animation-duration: .5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: tansformAnimation;
    -moz-animation-duration: .5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: forwards;
}

.tile-stats .icon {
    color: #BAB8B8;
    position: absolute;
    right: 53px;
    top: 22px;
    z-index: 1;
}

.tile-stats .icon i,
.tile-stats .icon span {
    margin: 0;
    font-size: 60px;
    line-height: 0;
    vertical-align: bottom;
    padding: 0;
}

.tile-stats .count {
    font-size: 38px;
    font-weight: bold;
    line-height: 1.65857143
}

.tile-stats .count,
.tile-stats h3,
.tile-stats p {
    position: relative;
    margin: 0;
    margin-left: 10px;
    z-index: 5;
    padding: 0;
}

.tile-stats h3 {
    color: #BAB8B8;
}

.tile-stats p {
    margin-top: 5px;
    font-size: 12px;
}

.tile-stats > .dash-box-footer {
    position: relative;
    text-align: center;
    margin-top: 5px;
    padding: 3px 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.tile-stats > .dash-box-footer:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.15);
}

.tile-stats > .dash-box-footer:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.15);
}

table.tile_info {
    padding: 10px 15px;
}

table.tile_info span.right {
    margin-right: 0;
    float: right;
    position: absolute;
    right: 4%;
}

.tile:hover {
    text-decoration: none;
}

.tile_header {
    border-bottom: transparent;
    padding: 7px 15px;
    margin-bottom: 15px;
    background: #E7E7E7;
}

.tile_head h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.tiles-bottom {
    padding: 5px 10px;
    margin-top: 10px;
    background: rgba(194, 194, 194, 0.3);
    text-align: left;
}


/* *********  /Tile stats  **************************** */






/* AUTOCOMPLETE PLUGIN JQuery UI */

/*.ui-autocomplete .ui-menu .ui-widget .ui-widget-content .ui-corner-all*/

ul.ui-menu {

    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    padding: 5px 0;
    overflow: auto;
    position: absolute;
    box-sizing: border-box;
    max-height: 350px;
    z-index: 1;
    // display: block !important;
}


li.ui-menu-item{
   color: #777;
   list-style: none;
   padding: 10px;

 &:hover{
    background-color: teal;
}

&:hover > :nth-child(n){
    background-color: transparent !important;
    border:none;
    color: white !important;
 
}


}

ul.ui-menu > li.ui-menu-item{
    .title{
        color: #777;
        font-size: .99em;
        
    }
    p{
        margin-bottom: 0px;
        font-style: italic;
        text-transform: capitalize;
        font-size: .7em;
        color: #9E9E9E;
    }

}



.has-feedback{
    .form-control-feedback{
        color: #9E9E9E;
        z-index: 1;
    }
}


/**
 * CODE
 */
.serial-code {
  color: #777;
  font-weight: bold;
  text-transform: uppercase;
}