
table.table {
  width: 100% !important;

  //cambiar el color de  la tabla
  &.table-default {
    thead tr {
      background-color: $color3;
      color: #ffffff;
    }
  }

  &.table-no-heading {
    thead {
      display: none;
    }
  }

  &.table-truncate-text {
    white-space: nowrap;
    table-layout: fixed;
  }

  .btn, .list-group {
    margin: 0;
  }

  @media screen and (max-width: 767px) {
    tr td, tr th {
      padding: 8px;
      font-size: 13px;
    }
  }

  &.table-control {
    thead > tr > th, thead > tr > td,
    tbody > tr > th, tbody > tr > td,
    tfoot > tr > th, tfoot > tr > td {
      padding: 8px;
      height: 40px;
      position: relative;

      .form-group {

        &, & .form-control {
          margin: 0;
          box-sizing: border-box;
        }

        & .form-control {
          padding: 3px;
          display: none;
          box-sizing: border-box;

          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
        }

        textarea.form-control {
          resize: none;
          overflow: hidden;
        }

      }

      .btn, button {
        position: absolute;
        top: 2px;
        bottom: 2px;
        right: 2px;
        left: 2px;
        background-color: transparent;
      }
    }
  }
}

.table .media-content {
  display: flex;
  box-sizing: border-box;
  img {
    width: 45px;
    height: 45px;
  }
  .body {
    padding: 0 5px;
  }
}

/* Checkbox  */
table.table .checkbox label {
  color: #333;
}

/* ACTIVE ROW */
tr.row-active {
  background-color: #eeeeee !important;
}

/*alinear texto verticalmente*/
.table.form-table > tbody > tr > td,
.table.form-table > tbody > tr > th,
.table.form-table > tfoot > tr > td,
.table.form-table > tfoot > tr > th {
  vertical-align: middle !important;
  padding: 1rem 0 1rem 1rem;

  &:last-child {
    padding-right: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .table-responsive > .table > tbody > tr > td.cell-description {
    max-width: 100px;
    white-space: pre-line;
  }
}

@media screen and (max-width: 998px) {

  .table.form-table > tbody > tr > td,
  .table.form-table > tbody > tr > th,
  .table.form-table > tfoot > tr > td,
  .table.form-table > tfoot > tr > th {
    padding: .9em;
    // text-align: center;
  }

  .table.form-table > tfoot > tr > td:nth-child(n+2),
  .table.form-table > tfoot > tr > th:nth-child(n+2) {
    text-align: right;
  }

}

table.total-amount {

  thead tr th:last-child,
  thead tr td:last-child,
  tbody tr td:last-child {
    text-align: right;
  }

  tfoot {

    tr {
      &.total {
        border-top: 1px solid #ddd;
        color: #555;
      }
      td {
        text-align: right;
        border: 0px;
        label {
          // font-size: 14px;
        }

      }

    }

  }

}

// TABLE FONT 
table.table {
  @media screen and (max-width: 998px) {
    &.table-sm {
      .checkbox.checkbox-mini {
        margin-top: 0px;
        .checkbox-material {
          top: 0;
        }
      }

      // font-size: smaller;
      tr td, tr th {
        font-size: small;
        padding-left: .2em !important;
        padding-right: .2em !important;
        vertical-align: top !important;
      }

    }
  }
}

// Quitar el margen en las tablas
//.table{
//	.form-group, .form-control, .form-group .form-control, .control-label{
//		margin: 0;
//	}
//}

//table.table td{
//  .btn-group {
//    margin: 0px
//  }
//}

.table.table-form {

  .form-group {

    .form-control {
      border-color: transparent;
    }
    &.is-focused, &:hover {
      .form-control {
        border-color: #ccc;
      }
    }
  }
}

table tr.editing td {
  /*background-color: red;*/
}

.table.table-condensed {
  .btn-group {
    margin: 0 1px;
  }
}

.table {
  .cell-total, .cell-amount, .cell-unit-cost, .input-unit-cost {
    text-align: right !important;
  }
}

.cell-total {
  font-size: 15px;
  font-weight: 400;
  color: #777;
}
