.hidden {
  transition: all 10s ease;
}

/* MIN HEIGHT VH */
.min-height-25 {
  min-height: 25vh;
}

.min-height-50 {
  min-height: 50vh;
}

.min-height-60 {
  min-height: 60vh;
}

.min-height-70 {
  min-height: 70vh;
}

.min-height-80 {
  min-height: 80vh;
}

.min-height-90 {
  min-height: 90vh;
}

.min-height-100 {
  min-height: 100vh;
}

/* TEXT TRUNCATE */
.text-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  &.multiline {

    display: -webkit-box;
    max-height: 30px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
}

/* TEXT ALIGN MIDDLE */
.text-middle {
  vertical-align: middle;

}

.text-middle > tbody > tr > td {
  vertical-align: middle !important;
}

$row: -10px;

.row {
  margin-right: $row;
  margin-left: $row;
}

/* ROW */
.row-xs {
  @media screen and (max-width: 768px) {
    margin-right: $row;
    margin-left: $row;
  }
}

.row-sm {
  @media screen and (max-width: 768px) {
    margin-right: $row;
    margin-left: $row;
  }
}

.row-md {
  @media screen and (max-width: 768px) {
    margin-right: $row;
    margin-left: $row;
  }
}

.row-lg {
  @media screen and (max-width: 768px) {
    margin-right: $row;
    margin-left: $row;
  }
}

.row-left {
  @media screen and (min-width: 998px) {
    margin-left: $row;
  }
}

/*
 * Center Block Absolute
 */

.center-block-absolute {
  width: 100%;
  margin: auto;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 15px;

  &.action {
    cursor: pointer;
    color: $color-default-movistar;

    &:hover{
      color: darken($color-default-movistar, 25);
    }
    &:active {
      transform: scale(.95);
    }
  }
}