<template>
    <div>

        <!--<div class="form-group">-->
            <!--<select name="bodega_id" id="bodega_id" @change="articleList($event)">-->
                <!--&lt;!&ndash;<option v-for="bodegas_list in bodega" :value="articlelist.id">{{ articlelist.description }}</option>&ndash;&gt;-->
                <!--<option value="3">Bodega Colon</option>-->
                <!--<option value="5">Bodega Darien</option>-->
                <!--<option value="8">Bodega Panama</option>-->
                <!--<option value="10">Bodega Panama Oeste</option>-->
            <!--</select>-->
        <!--</div>-->



        <table class="table table-bordered table-condensed text-middle">
            <!--<thead>-->
            <!--<tr class="text-uppercase">-->
            <!--<td>Articulo</td>-->
            <!--<td>Cantidad</td>-->
            <!--<td width="40"></td>-->
            <!--</tr>-->
            <!--</thead>-->

            <tbody>
            <tr v-for="article in articles"
                is="article-row"
                v-bind:article="article"
                v-bind:article_list="article_list"
                @update-article="updateArticle"
                @remove-article="removeArticle"></tr>

            </tbody>

            <tfoot>
            <tr>
                <td>
                    <select-article v-bind:article_list="article_list"
                                    v-bind:article="add_article"
                                    v-bind:errors="errors"
                                    v-bind:class="{'has-error': errors.article_id}"></select-article>
                </td>

                <td>
                    <quantity-article v-bind:article="add_article"
                                      v-bind:errors="errors"
                                      v-bind:class="{'has-error': errors.quantity}"></quantity-article>
                </td>

                <td width="40">
                    <div class="btn-group btn-group-sm">
                        <button type="button"
                                class="btn "
                                v-on:click="addArticle()">
                            <span class="glyphicon glyphicon-plus"></span> Agregar
                        </button>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>

        <pre>
            {{ $data }}
        </pre>
    </div>

</template>


<script type="text/babel">
    export default {

        data: function () {
            return {
                add_article: [{
                    article_id: '',
                    quantity: ''
                }],

                articles: [],

                bodega_list:[],

                article_list: [{
                    id: '',
                    description: ''
                }],

                errors: []
            }
        },

        methods: {

            articleList2: function(id){
//                var select = event.target.value;

//                console.log(id);

                console.log( this.article_list );
                $.getJSON('/articles/bodega/'+id, function (data) {
                    console.log(data);
                    this.article_list = data;
                }.bind(this));
            }.bind(this),

            addArticle: function () {

                this.errors = [];

                $.ajax({
                    url: '/transfer/article/validate',
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        article_id: this.add_article.article_id,
                        quantity: this.add_article.quantity
                    },
                    success: function (response) {
                        if (response.valid == true) {

                            this.articles.push(response.article);

                            this.add_article = {article_id: '', quantity: ''};
                        }
                    }.bind(this),
                    error: function (jqXHR) {
                        this.errors = jqXHR.responseJSON;
                    }.bind(this)

                });
            },

            updateArticle: function (component) {

                $.ajax({
                    url: '/transfer/article/validate',
                    type: 'GET',
                    dataType: 'json',
                    data: component.draft,
                    success: function (response) {
                        if (response.valid == true) {
                            for (var key in response.article) {
                                component.article[key] = response.article[key];
                            }

                            component.editing = false;
                        }
                    },
                    error: function (jqXHR) {
                        component.errors = jqXHR.responseJSON;
                    }
                });
            },

            removeArticle: function (article) {
//                this.$parent.articles.$remove(this.article); // deprecated in Vue v2
                var index = this.articles.indexOf(article);

                this.articles.splice(index, 1);
            }
        },

        created: function () {

//            $.getJSON('/articles/bodega/8', function (data) {
//                this.article_list = data;
//            }.bind(this));
//            $('#bodega_id').change(function(){



//            });


            var href = window.location.href;
            var id = Number( href.split('transfer/')[1].split('/')[0]);

            if (id) {

                $.ajax({
                    url: '/transfer/'+ id + '/articles',
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        this.articles = data;
                    }.bind(this),
                    error: function (jqXHR) {

                        this.errors = jqXHR.responseJSON;
                    }.bind(this)

                });
            }

        },

        mounted: function () {
            this.add_article = {article_id: '', quantity: ''};
        }
    }
</script>